# Not√≠cias e Tweets Elei√ß√µes: gerando amostras

In [2]:
import ipy_table
import re
%run ../aux/postgres.py

postgres functions loaded...

In [55]:
for x in range(1,16):
    a = str(x).rjust(2, '0')
    desc = 'insert into amostra (descricao) values (\'Elei√ß√µes Not√≠cia '+ a + ' [no RTs]\');'
    print(desc)
    
#Elei√ß√µes Not√≠cia 01 [no similar]

insert into amostra (descricao) values ('Elei√ß√µes Not√≠cia 01 [no RTs]');
insert into amostra (descricao) values ('Elei√ß√µes Not√≠cia 02 [no RTs]');
insert into amostra (descricao) values ('Elei√ß√µes Not√≠cia 03 [no RTs]');
insert into amostra (descricao) values ('Elei√ß√µes Not√≠cia 04 [no RTs]');
insert into amostra (descricao) values ('Elei√ß√µes Not√≠cia 05 [no RTs]');
insert into amostra (descricao) values ('Elei√ß√µes Not√≠cia 06 [no RTs]');
insert into amostra (descricao) values ('Elei√ß√µes Not√≠cia 07 [no RTs]');
insert into amostra (descricao) values ('Elei√ß√µes Not√≠cia 08 [no RTs]');
insert into amostra (descricao) values ('Elei√ß√µes Not√≠cia 09 [no RTs]');
insert into amostra (descricao) values ('Elei√ß√µes Not√≠cia 10 [no RTs]');
insert into amostra (descricao) values ('Elei√ß√µes Not√≠cia 11 [no RTs]');
insert into amostra (descricao) values ('Elei√ß√µes Not√≠cia 12 [no RTs]');
insert into amostra (descricao) values ('Elei√ß√µes Not√≠cia 13 [no RTs]');
insert into amostra (descricao) values ('Elei√ß√µes Not√≠cia 14 [no RTs]');
insert into amostra (descricao) values ('Elei√ß√µes Not√≠cia 15 [no RTs]');

In [58]:
cmd = "select codamostra, descricao from amostra where descricao like 'Elei√ß√µes Not√≠cia%RT%' order by descricao"
res = query(cmd)
res

[(155, 'Elei√ß√µes Not√≠cia 01 [no RTs]'),
 (156, 'Elei√ß√µes Not√≠cia 02 [no RTs]'),
 (157, 'Elei√ß√µes Not√≠cia 03 [no RTs]'),
 (158, 'Elei√ß√µes Not√≠cia 04 [no RTs]'),
 (159, 'Elei√ß√µes Not√≠cia 05 [no RTs]'),
 (160, 'Elei√ß√µes Not√≠cia 06 [no RTs]'),
 (161, 'Elei√ß√µes Not√≠cia 07 [no RTs]'),
 (162, 'Elei√ß√µes Not√≠cia 08 [no RTs]'),
 (163, 'Elei√ß√µes Not√≠cia 09 [no RTs]'),
 (164, 'Elei√ß√µes Not√≠cia 10 [no RTs]'),
 (165, 'Elei√ß√µes Not√≠cia 11 [no RTs]'),
 (166, 'Elei√ß√µes Not√≠cia 12 [no RTs]'),
 (167, 'Elei√ß√µes Not√≠cia 13 [no RTs]'),
 (168, 'Elei√ß√µes Not√≠cia 14 [no RTs]'),
 (169, 'Elei√ß√µes Not√≠cia 15 [no RTs]')]

In [81]:
def buscaTweets(filtro, cod1, cod2, cod3, onlyVerify=False):
    cod1 = str(cod1)
    cod2 = str(cod2)
    cod3 = str(cod3)
    
    cmd = "select codamostra, descricao from amostra where codamostra = " + cod1
    res = query(cmd)
    print(res)

    cmd = "select codamostra, descricao from amostra where codamostra = " + cod2
    res = query(cmd)
    print(res)

    cmd = "select codamostra, descricao from amostra where codamostra = " + cod3
    res = query(cmd)
    print(res)
    
    cmd = "DELETE FROM amostratweet WHERE codamostra = " + cod1
    print(cmd)
    execSQL(cmd)
    
    cmd = "DELETE FROM amostratweet WHERE codamostra = " + cod2
    print(cmd)
    execSQL(cmd)

    cmd = "DELETE FROM amostratweet WHERE codamostra = " + cod3
    print(cmd)
    execSQL(cmd)
    print("")

    cmd = ("SELECT COUNT(*) " +
           "FROM amostratweet at " +
           "INNER JOIN tweet t ON t.codtweet = at.codtweet " +
           "WHERE at.codamostra = 130 " +
           filtro
          )
    count = query(cmd)
    print("Total de noticias: %s\n" % count[0])

    cmd = ("SELECT t.codtweet, t.text " +
           "FROM amostratweet at " +
           "INNER JOIN tweet t ON t.codtweet = at.codtweet " +
           "WHERE at.codamostra = 130 " +
           filtro +
           "LIMIT 5")
    tws = query(cmd)

    print('Exemplos de tweets:')
    for tw in tws:
        print(tw)
        print('---')
    
    if onlyVerify:
        return
    # gerando amostra
   
    
    #execSQL(cmd)
    try:
        cmd = ("INSERT INTO amostratweet (codamostra, codtweet) " +
               "SELECT " + cod1 + ", t.codtweet " +
               "FROM amostratweet at " +
               "INNER JOIN tweet t ON t.codtweet = at.codtweet " +
               "WHERE at.codamostra = 130 " +
               filtro )
        print(cmd+"\n")
        execSQL(cmd)
    except psycopg2.IntegrityError as e:
        print(e)

    try:
        cmd = ("INSERT INTO amostratweet (codamostra, codtweet) " +
               "SELECT " + cod2 + ", t.codtweet " +
               "FROM amostratweet at " +
               "INNER JOIN tweet t ON t.codtweet = at.codtweet " +
               "WHERE at.codamostra = 130 " +
               "AND lower(t.text) NOT LIKE 'rt %' " +
               filtro )
        print(cmd+"\n")
        execSQL(cmd)    
    except psycopg2.IntegrityError as e:
        print(e)

    try:
        cmd = ("INSERT INTO amostratweet (codamostra, codtweet) " +
               "SELECT " + cod3 + ", t.codtweet " +
               "FROM amostratweet at " +
               "INNER JOIN tweet t ON t.codtweet = at.codtweet " +
               "WHERE at.codamostra = 130 " +
               "AND lower(t.text) NOT LIKE 'rt %' " +
               filtro )
        print(cmd+"\n")
        execSQL(cmd)    
    except psycopg2.IntegrityError as e:
        print(e)
        
    print("")
    cmd = "SELECT count(*) FROM amostratweet WHERE codamostra = " + str(cod1)
    print(cmd)
    total = query(cmd)
    print("total amostra %s: %s" % (cod1, total[0][0]))

    cmd = "SELECT count(*) FROM amostratweet WHERE codamostra = " + str(cod2)
    print(cmd)
    total = query(cmd)
    print("total amostra %s: %s" % (cod2, total[0][0]))

    cmd = "SELECT count(*) FROM amostratweet WHERE codamostra = " + str(cod3)
    print(cmd)
    total = query(cmd)
    print("total amostra %s: %s" % (cod3, total[0][0]))

# Not√≠cia 01:

√â falsa a inscri√ß√£o preconceituosa sobre nordestinos em camisa de filho de Bolsonaro

In [82]:
filtro = (
    "AND lower(t.text) like '%camisa%' "
    "AND lower(t.text) like '%nordest%' "
)
buscaTweets(filtro, 104, 105, 155)

[(104, 'Elei√ß√µes Not√≠cia 01')]
[(105, 'Elei√ß√µes Not√≠cia 01 [no similar]')]
[(155, 'Elei√ß√µes Not√≠cia 01 [no RTs]')]
DELETE FROM amostratweet WHERE codamostra = 104
DELETE FROM amostratweet WHERE codamostra = 105
DELETE FROM amostratweet WHERE codamostra = 155

Total de noticias: 5009

Exemplos de tweets:
(179967828, 'RT @MajiwkiJacques: N√£o vejo camisas do @Haddad_Fernando, adesivos nos carros, pessoas fazendo manifesta√ß√µes, e olha q sou do Nordeste, com‚Ä¶')
---
(179997552, 'RT @MajiwkiJacques: N√£o vejo camisas do @Haddad_Fernando, adesivos nos carros, pessoas fazendo manifesta√ß√µes, e olha q sou do Nordeste, com‚Ä¶')
---
(180508906, 'RT @MajiwkiJacques: N√£o vejo camisas do @Haddad_Fernando, adesivos nos carros, pessoas fazendo manifesta√ß√µes, e olha q sou do Nordeste, com‚Ä¶')
---
(152946266, 'RT @camisanumero7: Voc√™s sabem qual regi√£o do Brasil mais se beneficiar√° com a elei√ß√£o de @jairbolsonaro ?\n\nSim, O NORDESTE !!!\n\nRegi√£o com‚Ä¶')
---
(152982095, 'RT @camisanumero7: Voc√™s sabem qual regi√£o do Brasil mais se beneficiar√° com a elei√ß√£o de @jairbolsonaro ?\n\nSim, O NORDESTE !!!\n\nRegi√£o com‚Ä¶')
---
INSERT INTO amostratweet (codamostra, codtweet) SELECT 104, t.codtweet FROM amostratweet at INNER JOIN tweet t ON t.codtweet = at.codtweet WHERE at.codamostra = 130 AND lower(t.text) like '%camisa%' AND lower(t.text) like '%nordest%'

INSERT INTO amostratweet (codamostra, codtweet) SELECT 105, t.codtweet FROM amostratweet at INNER JOIN tweet t ON t.codtweet = at.codtweet WHERE at.codamostra = 130 AND lower(t.text) NOT LIKE 'rt %' AND lower(t.text) like '%camisa%' AND lower(t.text) like '%nordest%'

INSERT INTO amostratweet (codamostra, codtweet) SELECT 155, t.codtweet FROM amostratweet at INNER JOIN tweet t ON t.codtweet = at.codtweet WHERE at.codamostra = 130 AND lower(t.text) NOT LIKE 'rt %' AND lower(t.text) like '%camisa%' AND lower(t.text) like '%nordest%'


SELECT count(*) FROM amostratweet WHERE codamostra = 104
total amostra 104: 5009
SELECT count(*) FROM amostratweet WHERE codamostra = 105
total amostra 105: 678
SELECT count(*) FROM amostratweet WHERE codamostra = 155
total amostra 155: 678

# Not√≠cia 02:

\#Verificamos: Bolsonaro n√£o disse que ‚Äòpaciente com c√¢ncer custa caro para o Estado‚Äô e que vai ‚Äòcortar essa farra‚Äô

In [83]:
filtro = (
    "AND lower(t.text) like '%farra%' "
    "AND (lower(t.text) like '%c√¢ncer%' OR lower(t.text) like '%cancer%') "
)
buscaTweets(filtro, 106, 107, 156)

[(106, 'Elei√ß√µes Not√≠cia 02')]
[(107, 'Elei√ß√µes Not√≠cia 02 [no similar]')]
[(156, 'Elei√ß√µes Not√≠cia 02 [no RTs]')]
DELETE FROM amostratweet WHERE codamostra = 106
DELETE FROM amostratweet WHERE codamostra = 107
DELETE FROM amostratweet WHERE codamostra = 156

Total de noticias: 23

Exemplos de tweets:
(156085987, '@efarsas Precisamos cortar a "farra do fake news"... isso virou um c√¢ncer.')
---
(156577027, '[Ag√™ncia Lupa] Bolsonaro n√£o disse que ‚Äòpaciente com c√¢ncer custa caro para o Estado‚Äô e que vai ‚Äòcortar essa farra‚Äô https://t.co/Jsi6FZYcH0')
---
(156767395, 'C√¢ncer e Aids s√£o farras?????Onde vamos parar com esse coiso, cada dia mais louco?. AFF!!!!')
---
(156782374, 'RT @Amarulacarvalho: C√¢ncer e Aids s√£o farras?????Onde vamos parar com esse coiso, cada dia mais louco?. AFF!!!! https://t.co/fxOYKrlUJV')
---
(157037037, '01 - Bolsonaro n√£o disse que ‚Äòpaciente com c√¢ncer custa caro para o Estado‚Äô e que vai ‚Äòcortar essa farra‚Äô\nhttps://t.co/6P5X3Hhgx6')
---
INSERT INTO amostratweet (codamostra, codtweet) SELECT 106, t.codtweet FROM amostratweet at INNER JOIN tweet t ON t.codtweet = at.codtweet WHERE at.codamostra = 130 AND lower(t.text) like '%farra%' AND (lower(t.text) like '%c√¢ncer%' OR lower(t.text) like '%cancer%')

INSERT INTO amostratweet (codamostra, codtweet) SELECT 107, t.codtweet FROM amostratweet at INNER JOIN tweet t ON t.codtweet = at.codtweet WHERE at.codamostra = 130 AND lower(t.text) NOT LIKE 'rt %' AND lower(t.text) like '%farra%' AND (lower(t.text) like '%c√¢ncer%' OR lower(t.text) like '%cancer%')

INSERT INTO amostratweet (codamostra, codtweet) SELECT 156, t.codtweet FROM amostratweet at INNER JOIN tweet t ON t.codtweet = at.codtweet WHERE at.codamostra = 130 AND lower(t.text) NOT LIKE 'rt %' AND lower(t.text) like '%farra%' AND (lower(t.text) like '%c√¢ncer%' OR lower(t.text) like '%cancer%')


SELECT count(*) FROM amostratweet WHERE codamostra = 106
total amostra 106: 23
SELECT count(*) FROM amostratweet WHERE codamostra = 107
total amostra 107: 21
SELECT count(*) FROM amostratweet WHERE codamostra = 156
total amostra 156: 21

# Not√≠cia 14: (substituir not√≠cia 02)

\#Verificamos: General Mour√£o n√£o foi torturador na ditadura militar

In [84]:
filtro = (
    "AND lower(t.text) like '%torturador%' "
    "AND lower(t.text) like '%mour√£o%' "
)
buscaTweets(filtro, 151, 152, 168)

[(151, 'Elei√ß√µes Not√≠cia 14')]
[(152, 'Elei√ß√µes Not√≠cia 14 [no similar]')]
[(168, 'Elei√ß√µes Not√≠cia 14 [no RTs]')]
DELETE FROM amostratweet WHERE codamostra = 151
DELETE FROM amostratweet WHERE codamostra = 152
DELETE FROM amostratweet WHERE codamostra = 168

Total de noticias: 26011

Exemplos de tweets:
(180025730, 'RT @MelroseGuedes: @Haddad_Fernando falou o Pai da Fake News\nSu√°stica, Mestre M√¥a, Caixa 2 Watts Zap, Mour√£o Torturador etc....\n\n PROMESSAS‚Ä¶')
---
(144766187, 'RT @cirogomes: Bolsonaro defende o torturador Brilhante Ustra. Seu vice, Mour√£o, tamb√©m defende torturadores. Agora, seu filho, faz apologi‚Ä¶')
---
(144768317, 'RT @cirogomes: Bolsonaro defende o torturador Brilhante Ustra. Seu vice, Mour√£o, tamb√©m defende torturadores. Agora, seu filho, faz apologi‚Ä¶')
---
(144782311, 'RT @cirogomes: Bolsonaro defende o torturador Brilhante Ustra. Seu vice, Mour√£o, tamb√©m defende torturadores. Agora, seu filho, faz apologi‚Ä¶')
---
(180344606, 'RT @GustavoRezende: O candidato do PT √© moleque. \n\nEncheu a boca pra acusar e chamar de FATO a hist√≥ria do Mour√£o ser torturador. 10 segund‚Ä¶')
---
INSERT INTO amostratweet (codamostra, codtweet) SELECT 151, t.codtweet FROM amostratweet at INNER JOIN tweet t ON t.codtweet = at.codtweet WHERE at.codamostra = 130 AND lower(t.text) like '%torturador%' AND lower(t.text) like '%mour√£o%'

INSERT INTO amostratweet (codamostra, codtweet) SELECT 152, t.codtweet FROM amostratweet at INNER JOIN tweet t ON t.codtweet = at.codtweet WHERE at.codamostra = 130 AND lower(t.text) NOT LIKE 'rt %' AND lower(t.text) like '%torturador%' AND lower(t.text) like '%mour√£o%'

INSERT INTO amostratweet (codamostra, codtweet) SELECT 168, t.codtweet FROM amostratweet at INNER JOIN tweet t ON t.codtweet = at.codtweet WHERE at.codamostra = 130 AND lower(t.text) NOT LIKE 'rt %' AND lower(t.text) like '%torturador%' AND lower(t.text) like '%mour√£o%'


SELECT count(*) FROM amostratweet WHERE codamostra = 151
total amostra 151: 26011
SELECT count(*) FROM amostratweet WHERE codamostra = 152
total amostra 152: 3024
SELECT count(*) FROM amostratweet WHERE codamostra = 168
total amostra 168: 3024

# Not√≠cia 15: (substituir not√≠cia 02)

Opera√ß√£o Greenfield n√£o investiga dinheiro da campanha de Bolsonaro... - Veja mais em https://noticias.uol.com.br/comprova/ultimas-noticias/2018/10/18/operacao-greenfield-nao-investiga-dinheiro-da-campanha-de-bolsonaro.htm?cmpid=copiaecola

In [85]:
filtro = (
    "AND lower(t.text) like '%greenfield%' "
)
buscaTweets(filtro, 153, 154, 169)

[(153, 'Elei√ß√µes Not√≠cia 15')]
[(154, 'Elei√ß√µes Not√≠cia 15 [no similar]')]
[(169, 'Elei√ß√µes Not√≠cia 15 [no RTs]')]
DELETE FROM amostratweet WHERE codamostra = 153
DELETE FROM amostratweet WHERE codamostra = 154
DELETE FROM amostratweet WHERE codamostra = 169

Total de noticias: 543

Exemplos de tweets:
(180599752, 'RT @JotaInfo: Opera√ß√£o Greenfield abre investiga√ß√£o contra Paulo Guedes. Apura√ß√£o sobre guru econ√¥mico de Bolsonaro envolve gest√£o temer√°ri‚Ä¶')
---
(180599756, 'RT @JotaInfo: Opera√ß√£o Greenfield abre investiga√ß√£o contra Paulo Guedes. Apura√ß√£o sobre guru econ√¥mico de Bolsonaro envolve gest√£o temer√°ri‚Ä¶')
---
(180599818, 'RT @JotaInfo: Opera√ß√£o Greenfield abre investiga√ß√£o contra Paulo Guedes. Apura√ß√£o sobre guru econ√¥mico de Bolsonaro envolve gest√£o temer√°ri‚Ä¶')
---
(180693379, 'RT @JotaInfo: Opera√ß√£o Greenfield abre investiga√ß√£o contra Paulo Guedes. Apura√ß√£o sobre guru econ√¥mico de Bolsonaro envolve gest√£o temer√°ri‚Ä¶')
---
(180967743, 'RT @JotaInfo: Opera√ß√£o Greenfield abre investiga√ß√£o contra Paulo Guedes. Apura√ß√£o sobre guru econ√¥mico de Bolsonaro envolve gest√£o temer√°ri‚Ä¶')
---
INSERT INTO amostratweet (codamostra, codtweet) SELECT 153, t.codtweet FROM amostratweet at INNER JOIN tweet t ON t.codtweet = at.codtweet WHERE at.codamostra = 130 AND lower(t.text) like '%greenfield%'

INSERT INTO amostratweet (codamostra, codtweet) SELECT 154, t.codtweet FROM amostratweet at INNER JOIN tweet t ON t.codtweet = at.codtweet WHERE at.codamostra = 130 AND lower(t.text) NOT LIKE 'rt %' AND lower(t.text) like '%greenfield%'

INSERT INTO amostratweet (codamostra, codtweet) SELECT 169, t.codtweet FROM amostratweet at INNER JOIN tweet t ON t.codtweet = at.codtweet WHERE at.codamostra = 130 AND lower(t.text) NOT LIKE 'rt %' AND lower(t.text) like '%greenfield%'


SELECT count(*) FROM amostratweet WHERE codamostra = 153
total amostra 153: 543
SELECT count(*) FROM amostratweet WHERE codamostra = 154
total amostra 154: 98
SELECT count(*) FROM amostratweet WHERE codamostra = 169
total amostra 169: 98

# Not√≠cia 03:

Post com propostas atribu√≠das a Bolsonaro mistura informa√ß√µes falsas e verdadeiras

In [86]:
filtro = (
    "AND lower(t.text) like '%propostas%' "
    "AND lower(t.text) like '%bolsonaro%' "
    "AND lower(t.text) like '%fim%' "
    "AND lower(t.text) like '%maternidade%' "
)
buscaTweets(filtro, 108, 109, 157)

[(108, 'Elei√ß√µes Not√≠cia 03')]
[(109, 'Elei√ß√µes Not√≠cia 03 [no similar]')]
[(157, 'Elei√ß√µes Not√≠cia 03 [no RTs]')]
DELETE FROM amostratweet WHERE codamostra = 108
DELETE FROM amostratweet WHERE codamostra = 109
DELETE FROM amostratweet WHERE codamostra = 157

Total de noticias: 9233

Exemplos de tweets:
(148756561, 'RT @cinefilo_K: PROPOSTAS DE BOLSONARO\n- Fim do 13¬∫ e f√©rias\n- Redu√ß√£o da licen√ßa maternidade\n- IR igual pra ricos e POBRES\n- Volta da CPMF‚Ä¶')
---
(148770326, 'RT @cinefilo_K: PROPOSTAS DE BOLSONARO\n- Fim do 13¬∫ e f√©rias\n- Redu√ß√£o da licen√ßa maternidade\n- IR igual pra ricos e POBRES\n- Volta da CPMF‚Ä¶')
---
(148770702, 'RT @cinefilo_K: PROPOSTAS DE BOLSONARO\n- Fim do 13¬∫ e f√©rias\n- Redu√ß√£o da licen√ßa maternidade\n- IR igual pra ricos e POBRES\n- Volta da CPMF‚Ä¶')
---
(148774590, 'RT @cinefilo_K: PROPOSTAS DE BOLSONARO\n- Fim do 13¬∫ e f√©rias\n- Redu√ß√£o da licen√ßa maternidade\n- IR igual pra ricos e POBRES\n- Volta da CPMF‚Ä¶')
---
(148782233, 'RT @cinefilo_K: PROPOSTAS DE BOLSONARO\n- Fim do 13¬∫ e f√©rias\n- Redu√ß√£o da licen√ßa maternidade\n- IR igual pra ricos e POBRES\n- Volta da CPMF‚Ä¶')
---
INSERT INTO amostratweet (codamostra, codtweet) SELECT 108, t.codtweet FROM amostratweet at INNER JOIN tweet t ON t.codtweet = at.codtweet WHERE at.codamostra = 130 AND lower(t.text) like '%propostas%' AND lower(t.text) like '%bolsonaro%' AND lower(t.text) like '%fim%' AND lower(t.text) like '%maternidade%'

INSERT INTO amostratweet (codamostra, codtweet) SELECT 109, t.codtweet FROM amostratweet at INNER JOIN tweet t ON t.codtweet = at.codtweet WHERE at.codamostra = 130 AND lower(t.text) NOT LIKE 'rt %' AND lower(t.text) like '%propostas%' AND lower(t.text) like '%bolsonaro%' AND lower(t.text) like '%fim%' AND lower(t.text) like '%maternidade%'

INSERT INTO amostratweet (codamostra, codtweet) SELECT 157, t.codtweet FROM amostratweet at INNER JOIN tweet t ON t.codtweet = at.codtweet WHERE at.codamostra = 130 AND lower(t.text) NOT LIKE 'rt %' AND lower(t.text) like '%propostas%' AND lower(t.text) like '%bolsonaro%' AND lower(t.text) like '%fim%' AND lower(t.text) like '%maternidade%'


SELECT count(*) FROM amostratweet WHERE codamostra = 108
total amostra 108: 9233
SELECT count(*) FROM amostratweet WHERE codamostra = 109
total amostra 109: 151
SELECT count(*) FROM amostratweet WHERE codamostra = 157
total amostra 157: 151

# Not√≠cia 04:

General Mour√£o n√£o prop√¥s o confisco da poupan√ßa

In [87]:
filtro = (
    "AND lower(t.text) like '%confisco%' "
    "AND lower(t.text) like '%poupan%' "
)
buscaTweets(filtro, 110, 111, 158)

[(110, 'Elei√ß√µes Not√≠cia 04')]
[(111, 'Elei√ß√µes Not√≠cia 04 [no similar]')]
[(158, 'Elei√ß√µes Not√≠cia 04 [no RTs]')]
DELETE FROM amostratweet WHERE codamostra = 110
DELETE FROM amostratweet WHERE codamostra = 111
DELETE FROM amostratweet WHERE codamostra = 158

Total de noticias: 2452

Exemplos de tweets:
(148778945, 'RT @HenriqueFontana: URGENTE! Mour√£o, vice do Bolsonaro, tamb√©m prop√µe confisco da poupan√ßa https://t.co/HIg2N07NLT')
---
(149287923, 'RT @folha: N√£o √© verdade que general Mour√£o, vice de Bolsonaro, prop√¥s o confisco da poupan√ßa https://t.co/NJEVZe3Imn')
---
(149288275, 'RT @folha: N√£o √© verdade que general Mour√£o, vice de Bolsonaro, prop√¥s o confisco da poupan√ßa https://t.co/NJEVZe3Imn')
---
(149292736, 'RT @folha: N√£o √© verdade que general Mour√£o, vice de Bolsonaro, prop√¥s o confisco da poupan√ßa https://t.co/NJEVZe3Imn')
---
(149296307, 'RT @folha: N√£o √© verdade que general Mour√£o, vice de Bolsonaro, prop√¥s o confisco da poupan√ßa https://t.co/NJEVZe3Imn')
---
INSERT INTO amostratweet (codamostra, codtweet) SELECT 110, t.codtweet FROM amostratweet at INNER JOIN tweet t ON t.codtweet = at.codtweet WHERE at.codamostra = 130 AND lower(t.text) like '%confisco%' AND lower(t.text) like '%poupan%'

INSERT INTO amostratweet (codamostra, codtweet) SELECT 111, t.codtweet FROM amostratweet at INNER JOIN tweet t ON t.codtweet = at.codtweet WHERE at.codamostra = 130 AND lower(t.text) NOT LIKE 'rt %' AND lower(t.text) like '%confisco%' AND lower(t.text) like '%poupan%'

INSERT INTO amostratweet (codamostra, codtweet) SELECT 158, t.codtweet FROM amostratweet at INNER JOIN tweet t ON t.codtweet = at.codtweet WHERE at.codamostra = 130 AND lower(t.text) NOT LIKE 'rt %' AND lower(t.text) like '%confisco%' AND lower(t.text) like '%poupan%'


SELECT count(*) FROM amostratweet WHERE codamostra = 110
total amostra 110: 2452
SELECT count(*) FROM amostratweet WHERE codamostra = 111
total amostra 111: 440
SELECT count(*) FROM amostratweet WHERE codamostra = 158
total amostra 158: 440

## Not√≠cia 05:

√Åudio atribu√≠do a Jair Bolsonaro no hospital √© falso

In [88]:
filtro = (
    "AND lower(t.text) like '%udio%' "
    "AND lower(t.text) like '%hospital%' "
)
buscaTweets(filtro, 112, 113, 159)

[(112, 'Elei√ß√µes Not√≠cia 05')]
[(113, 'Elei√ß√µes Not√≠cia 05 [no similar]')]
[(159, 'Elei√ß√µes Not√≠cia 05 [no RTs]')]
DELETE FROM amostratweet WHERE codamostra = 112
DELETE FROM amostratweet WHERE codamostra = 113
DELETE FROM amostratweet WHERE codamostra = 159

Total de noticias: 311

Exemplos de tweets:
(160031442, 'RT @Profdrclaudio: O Povo baiano √© simp√°tico, hospitaleiro, alegre e t√™m musicalidade sem igual.S√£o honestos e trabalhadores. Este lixo cha‚Ä¶')
---
(160112141, 'RT @Profdrclaudio: O Povo baiano √© simp√°tico, hospitaleiro, alegre e t√™m musicalidade sem igual.S√£o honestos e trabalhadores. Este lixo cha‚Ä¶')
---
(160169165, 'RT @Profdrclaudio: O Povo baiano √© simp√°tico, hospitaleiro, alegre e t√™m musicalidade sem igual.S√£o honestos e trabalhadores. Este lixo cha‚Ä¶')
---
(160213499, 'RT @Profdrclaudio: O Povo baiano √© simp√°tico, hospitaleiro, alegre e t√™m musicalidade sem igual.S√£o honestos e trabalhadores. Este lixo cha‚Ä¶')
---
(160258194, 'RT @Profdrclaudio: O Povo baiano √© simp√°tico, hospitaleiro, alegre e t√™m musicalidade sem igual.S√£o honestos e trabalhadores. Este lixo cha‚Ä¶')
---
INSERT INTO amostratweet (codamostra, codtweet) SELECT 112, t.codtweet FROM amostratweet at INNER JOIN tweet t ON t.codtweet = at.codtweet WHERE at.codamostra = 130 AND lower(t.text) like '%udio%' AND lower(t.text) like '%hospital%'

INSERT INTO amostratweet (codamostra, codtweet) SELECT 113, t.codtweet FROM amostratweet at INNER JOIN tweet t ON t.codtweet = at.codtweet WHERE at.codamostra = 130 AND lower(t.text) NOT LIKE 'rt %' AND lower(t.text) like '%udio%' AND lower(t.text) like '%hospital%'

INSERT INTO amostratweet (codamostra, codtweet) SELECT 159, t.codtweet FROM amostratweet at INNER JOIN tweet t ON t.codtweet = at.codtweet WHERE at.codamostra = 130 AND lower(t.text) NOT LIKE 'rt %' AND lower(t.text) like '%udio%' AND lower(t.text) like '%hospital%'


SELECT count(*) FROM amostratweet WHERE codamostra = 112
total amostra 112: 311
SELECT count(*) FROM amostratweet WHERE codamostra = 113
total amostra 113: 76
SELECT count(*) FROM amostratweet WHERE codamostra = 159
total amostra 159: 76

# Not√≠cia 06:

#Verificamos: Imagem apresentada como ‚Äòcapa do kit gay‚Äô n√£o est√° no material

In [89]:
filtro = (
    "AND lower(t.text) like '%kit%' "
    "AND lower(t.text) like '%gay%' "
)
buscaTweets(filtro, 114, 115, 160)

[(114, 'Elei√ß√µes Not√≠cia 06')]
[(115, 'Elei√ß√µes Not√≠cia 06 [no similar]')]
[(160, 'Elei√ß√µes Not√≠cia 06 [no RTs]')]
DELETE FROM amostratweet WHERE codamostra = 114
DELETE FROM amostratweet WHERE codamostra = 115
DELETE FROM amostratweet WHERE codamostra = 160

Total de noticias: 296444

Exemplos de tweets:
(204842543, 'o cara ta nessa de kit gay ainda mano lkkkkkkk')
---
(204842791, 'RT @marivedder: 1¬™ entrevista de Jair ao JN:\n- atacou a Folha de SP\n- repetiu fake news do kit gay, mesmo assumindo que Dilma "recolheu" (n‚Ä¶')
---
(204842990, 'RT @izzomrm: o bolsonaro ja foi eleito e mesmo assim ta falando de kit gay em plena tv aberta \n\no cara √© uma maquina de bosta\n\nN√ÉO EXISTE K‚Ä¶')
---
(204843346, 'RT @artt1975: nao pq o kit gay üè≥\u200düåà foi distribu√≠do nas escolas üìö nao e fake news eh vdd o bolsonaro q disse üò° o kit gay mostrava dois homen‚Ä¶')
---
(204843370, 'RT @thiagocipriano: Bolsonaro, no #JN, se diz contra as fake news, mas reiterou uma das principais delas, a do kit gay. Se diz favor√°vel √†‚Ä¶')
---
INSERT INTO amostratweet (codamostra, codtweet) SELECT 114, t.codtweet FROM amostratweet at INNER JOIN tweet t ON t.codtweet = at.codtweet WHERE at.codamostra = 130 AND lower(t.text) like '%kit%' AND lower(t.text) like '%gay%'

INSERT INTO amostratweet (codamostra, codtweet) SELECT 115, t.codtweet FROM amostratweet at INNER JOIN tweet t ON t.codtweet = at.codtweet WHERE at.codamostra = 130 AND lower(t.text) NOT LIKE 'rt %' AND lower(t.text) like '%kit%' AND lower(t.text) like '%gay%'

INSERT INTO amostratweet (codamostra, codtweet) SELECT 160, t.codtweet FROM amostratweet at INNER JOIN tweet t ON t.codtweet = at.codtweet WHERE at.codamostra = 130 AND lower(t.text) NOT LIKE 'rt %' AND lower(t.text) like '%kit%' AND lower(t.text) like '%gay%'


SELECT count(*) FROM amostratweet WHERE codamostra = 114
total amostra 114: 296444
SELECT count(*) FROM amostratweet WHERE codamostra = 115
total amostra 115: 48172
SELECT count(*) FROM amostratweet WHERE codamostra = 160
total amostra 160: 48172

# Not√≠cia 07:

Projeto n√£o torna a pedofilia um ato legal e nem tem participa√ß√£o de Haddad

In [90]:
filtro = (
    "AND lower(t.text) like '%pedofilia%' "
    "AND ( lower(t.text) like '%projeto%' OR lower(t.text) like '%236%' )"
)
buscaTweets(filtro, 116, 117, 161)

[(116, 'Elei√ß√µes Not√≠cia 07')]
[(117, 'Elei√ß√µes Not√≠cia 07 [no similar]')]
[(161, 'Elei√ß√µes Not√≠cia 07 [no RTs]')]
DELETE FROM amostratweet WHERE codamostra = 116
DELETE FROM amostratweet WHERE codamostra = 117
DELETE FROM amostratweet WHERE codamostra = 161

Total de noticias: 1734

Exemplos de tweets:
(164998821, 'RT @estadaoverifica: Projeto n√£o torna a pedofilia um ato legal e nem tem participa√ß√£o de Haddad #Comprova https://t.co/u6TwZX8TYt')
---
(165038251, 'RT @UOL: Fotografia circula em redes sociais | Projeto n√£o torna pedofilia um ato legal nem tem a participa√ß√£o de Haddad https://t.co/wwd70‚Ä¶')
---
(165121794, 'RT @GauchaZH: O projeto de lei em quest√£o nada tem a ver com legaliza√ß√£o da pedofilia e tramita no Congresso Nacional sob relatoria de um s‚Ä¶')
---
(165264562, 'RT @guilouress: Eu entro no facebook e t√° la as fake news sobre existir projeto de lei do Pt a favor da pedofilia. Mano, se esses Crist√£os‚Ä¶')
---
(164807809, 'RT @UOLNoticias: Projeto n√£o torna a pedofilia um ato legal nem tem participa√ß√£o de Haddad #comprova  https://t.co/bddz58GQ54')
---
INSERT INTO amostratweet (codamostra, codtweet) SELECT 116, t.codtweet FROM amostratweet at INNER JOIN tweet t ON t.codtweet = at.codtweet WHERE at.codamostra = 130 AND lower(t.text) like '%pedofilia%' AND ( lower(t.text) like '%projeto%' OR lower(t.text) like '%236%' )

INSERT INTO amostratweet (codamostra, codtweet) SELECT 117, t.codtweet FROM amostratweet at INNER JOIN tweet t ON t.codtweet = at.codtweet WHERE at.codamostra = 130 AND lower(t.text) NOT LIKE 'rt %' AND lower(t.text) like '%pedofilia%' AND ( lower(t.text) like '%projeto%' OR lower(t.text) like '%236%' )

INSERT INTO amostratweet (codamostra, codtweet) SELECT 161, t.codtweet FROM amostratweet at INNER JOIN tweet t ON t.codtweet = at.codtweet WHERE at.codamostra = 130 AND lower(t.text) NOT LIKE 'rt %' AND lower(t.text) like '%pedofilia%' AND ( lower(t.text) like '%projeto%' OR lower(t.text) like '%236%' )


SELECT count(*) FROM amostratweet WHERE codamostra = 116
total amostra 116: 1734
SELECT count(*) FROM amostratweet WHERE codamostra = 117
total amostra 117: 403
SELECT count(*) FROM amostratweet WHERE codamostra = 161
total amostra 161: 403

# Not√≠cia 08:

"Mamadeiras er√≥ticas" n√£o foram distribu√≠das em creches pelo PT

In [91]:
filtro = (
    "AND lower(t.text) like '%mamadeira%' "
)
buscaTweets(filtro, 118, 119, 162)

[(118, 'Elei√ß√µes Not√≠cia 08')]
[(119, 'Elei√ß√µes Not√≠cia 08 [no similar]')]
[(162, 'Elei√ß√µes Not√≠cia 08 [no RTs]')]
DELETE FROM amostratweet WHERE codamostra = 118
DELETE FROM amostratweet WHERE codamostra = 119
DELETE FROM amostratweet WHERE codamostra = 162

Total de noticias: 16301

Exemplos de tweets:
(164966420, 'RT @heisenboff: no passado: "em 2018 teremos carros voadores"\n\nem 2018: tendo que desmentir fake news que diz que distribu√≠ram mamadeira co‚Ä¶')
---
(179867834, 'RT @AbalFelipe: Os caras acreditam em mamadeira com bico de p√™nis, que o PT pagou 90 milh√µes pro Roger Waters e que o Ir√£ tem planos pra in‚Ä¶')
---
(164998753, 'RT @heisenboff: no passado: "em 2018 teremos carros voadores"\n\nem 2018: tendo que desmentir fake news que diz que distribu√≠ram mamadeira co‚Ä¶')
---
(180101251, 'essa mamadeira de piroca com certeza √© a melhor fake news de TODAS')
---
(165134427, 'RT @Itspedrito: Dificil entender um bolsominion:\n\n- Haddad tava distribuindo mamadeira com formato de piroca para crian√ßas!\n-  S√ì PODIA SER‚Ä¶')
---
INSERT INTO amostratweet (codamostra, codtweet) SELECT 118, t.codtweet FROM amostratweet at INNER JOIN tweet t ON t.codtweet = at.codtweet WHERE at.codamostra = 130 AND lower(t.text) like '%mamadeira%'

INSERT INTO amostratweet (codamostra, codtweet) SELECT 119, t.codtweet FROM amostratweet at INNER JOIN tweet t ON t.codtweet = at.codtweet WHERE at.codamostra = 130 AND lower(t.text) NOT LIKE 'rt %' AND lower(t.text) like '%mamadeira%'

INSERT INTO amostratweet (codamostra, codtweet) SELECT 162, t.codtweet FROM amostratweet at INNER JOIN tweet t ON t.codtweet = at.codtweet WHERE at.codamostra = 130 AND lower(t.text) NOT LIKE 'rt %' AND lower(t.text) like '%mamadeira%'


SELECT count(*) FROM amostratweet WHERE codamostra = 118
total amostra 118: 16301
SELECT count(*) FROM amostratweet WHERE codamostra = 119
total amostra 119: 2504
SELECT count(*) FROM amostratweet WHERE codamostra = 162
total amostra 162: 2504

# Not√≠cia 09:

V√≠deo em que Haddad diz que elei√ß√£o acabou √© de 2016

In [92]:
filtro = (
    "AND lower(t.text) like '%jogou%' "
    "AND lower(t.text) like '%toalha%' "
)
buscaTweets(filtro, 120, 121, 163)

[(120, 'Elei√ß√µes Not√≠cia 09')]
[(121, 'Elei√ß√µes Not√≠cia 09 [no similar]')]
[(163, 'Elei√ß√µes Not√≠cia 09 [no RTs]')]
DELETE FROM amostratweet WHERE codamostra = 120
DELETE FROM amostratweet WHERE codamostra = 121
DELETE FROM amostratweet WHERE codamostra = 163

Total de noticias: 1936

Exemplos de tweets:
(144752700, 'RT @cidapitanga: Folha reconhece que foi incapaz de olhar seus pr√≥prios leitores.\nJOGOU A TOALHA \n\nPRIMEIRO TURNO GENTE!!\n\n"A Folha de S. P‚Ä¶')
---
(165052904, 'RT @Dom_Rezende33: At√© Ibope j√° jogou a toalha\n\nVotos v√°lidos:\nBolsonaro 59% x 41% Haddad https://t.co/64IdlpdDS4')
---
(165058240, 'RT @Dom_Rezende33: At√© Ibope j√° jogou a toalha\n\nVotos v√°lidos:\nBolsonaro 59% x 41% Haddad https://t.co/64IdlpdDS4')
---
(165070417, 'RT @Dom_Rezende33: At√© Ibope j√° jogou a toalha\n\nVotos v√°lidos:\nBolsonaro 59% x 41% Haddad https://t.co/64IdlpdDS4')
---
(165084773, 'RT @Dom_Rezende33: At√© Ibope j√° jogou a toalha\n\nVotos v√°lidos:\nBolsonaro 59% x 41% Haddad https://t.co/64IdlpdDS4')
---
INSERT INTO amostratweet (codamostra, codtweet) SELECT 120, t.codtweet FROM amostratweet at INNER JOIN tweet t ON t.codtweet = at.codtweet WHERE at.codamostra = 130 AND lower(t.text) like '%jogou%' AND lower(t.text) like '%toalha%'

INSERT INTO amostratweet (codamostra, codtweet) SELECT 121, t.codtweet FROM amostratweet at INNER JOIN tweet t ON t.codtweet = at.codtweet WHERE at.codamostra = 130 AND lower(t.text) NOT LIKE 'rt %' AND lower(t.text) like '%jogou%' AND lower(t.text) like '%toalha%'

INSERT INTO amostratweet (codamostra, codtweet) SELECT 163, t.codtweet FROM amostratweet at INNER JOIN tweet t ON t.codtweet = at.codtweet WHERE at.codamostra = 130 AND lower(t.text) NOT LIKE 'rt %' AND lower(t.text) like '%jogou%' AND lower(t.text) like '%toalha%'


SELECT count(*) FROM amostratweet WHERE codamostra = 120
total amostra 120: 1936
SELECT count(*) FROM amostratweet WHERE codamostra = 121
total amostra 121: 577
SELECT count(*) FROM amostratweet WHERE codamostra = 163
total amostra 163: 577

# Not√≠cia 10:

"Ao completar 5 anos de idade, a crian√ßa passa a ser propriedade do Estado! Cabe a n√≥s decidir se
menino ser√° menina e vice-versa! Aos pais cabe acatar nossa decis√£o respeitosamente! Sabemos
o que √© melhor para as crian√ßas!"

In [93]:
filtro = (
    "AND lower(t.text) like '%crian%' "
    "AND lower(t.text) like '%propriedade%' "
    "AND lower(t.text) like '%estado%' "
)
buscaTweets(filtro, 122, 123, 164)

[(122, 'Elei√ß√µes Not√≠cia 10')]
[(123, 'Elei√ß√µes Not√≠cia 10 [no similar]')]
[(164, 'Elei√ß√µes Not√≠cia 10 [no RTs]')]
DELETE FROM amostratweet WHERE codamostra = 122
DELETE FROM amostratweet WHERE codamostra = 123
DELETE FROM amostratweet WHERE codamostra = 164

Total de noticias: 5495

Exemplos de tweets:
(148988278, 'RT @AngelJones_1330: 1. Fake News! \n\n- √â #FAKE que Haddad disse que crian√ßa vira propriedade do Estado aos 5 anos e pode ter seu g√™nero esc‚Ä¶')
---
(182366736, 'RT @portadosfundos: "N√£o recebeu por WhatsApp? Toda crian√ßa a partir de 5 anos agora √© propriedade do Estado."\n\nV√çDEO NOVO | Fake News: htt‚Ä¶')
---
(182370488, 'RT @portadosfundos: "N√£o recebeu por WhatsApp? Toda crian√ßa a partir de 5 anos agora √© propriedade do Estado."\n\nV√çDEO NOVO | Fake News: htt‚Ä¶')
---
(182371421, 'RT @portadosfundos: "N√£o recebeu por WhatsApp? Toda crian√ßa a partir de 5 anos agora √© propriedade do Estado."\n\nV√çDEO NOVO | Fake News: htt‚Ä¶')
---
(182372134, 'RT @portadosfundos: "N√£o recebeu por WhatsApp? Toda crian√ßa a partir de 5 anos agora √© propriedade do Estado."\n\nV√çDEO NOVO | Fake News: htt‚Ä¶')
---
INSERT INTO amostratweet (codamostra, codtweet) SELECT 122, t.codtweet FROM amostratweet at INNER JOIN tweet t ON t.codtweet = at.codtweet WHERE at.codamostra = 130 AND lower(t.text) like '%crian%' AND lower(t.text) like '%propriedade%' AND lower(t.text) like '%estado%'

INSERT INTO amostratweet (codamostra, codtweet) SELECT 123, t.codtweet FROM amostratweet at INNER JOIN tweet t ON t.codtweet = at.codtweet WHERE at.codamostra = 130 AND lower(t.text) NOT LIKE 'rt %' AND lower(t.text) like '%crian%' AND lower(t.text) like '%propriedade%' AND lower(t.text) like '%estado%'

INSERT INTO amostratweet (codamostra, codtweet) SELECT 164, t.codtweet FROM amostratweet at INNER JOIN tweet t ON t.codtweet = at.codtweet WHERE at.codamostra = 130 AND lower(t.text) NOT LIKE 'rt %' AND lower(t.text) like '%crian%' AND lower(t.text) like '%propriedade%' AND lower(t.text) like '%estado%'


SELECT count(*) FROM amostratweet WHERE codamostra = 122
total amostra 122: 5495
SELECT count(*) FROM amostratweet WHERE codamostra = 123
total amostra 123: 264
SELECT count(*) FROM amostratweet WHERE codamostra = 164
total amostra 164: 264

# Not√≠cia 11:

Patr√≠cia Pillar desmente meme e diz que nunca sofreu agress√£o

In [94]:
filtro = (
    "AND lower(t.text) like '%pillar%' "
    "AND (lower(t.text) like '%batia%' "
    "OR lower(t.text) like '%agress%') "
)
buscaTweets(filtro, 124, 125,165)

[(124, 'Elei√ß√µes Not√≠cia 11')]
[(125, 'Elei√ß√µes Not√≠cia 11 [no similar]')]
[(165, 'Elei√ß√µes Not√≠cia 11 [no RTs]')]
DELETE FROM amostratweet WHERE codamostra = 124
DELETE FROM amostratweet WHERE codamostra = 125
DELETE FROM amostratweet WHERE codamostra = 165

Total de noticias: 56

Exemplos de tweets:
(172235821, 'RT @karinamarigold: @Haddad_Fernando N√£o apenas contra vc Haddad, aquela hist√≥ria que o @cirogomes batia na Patr√≠cia Pillar tbm foi fruto d‚Ä¶')
---
(144279844, 'RT @eliaxjr: alguns v√≠deos b√¥nus: Patr√≠cia Pillar desmentindo a fake news de que Ciro batia nela https://t.co/GuPU3LFYMw')
---
(145147789, 'RT @Barbara_Scorza: segunda vez que leio hoje essa hist√≥ria de que o ciro batia na patricia pillar. gente, isso √© fake!!!! al√©m de j√° ter s‚Ä¶')
---
(145171984, 'RT @Barbara_Scorza: segunda vez que leio hoje essa hist√≥ria de que o ciro batia na patricia pillar. gente, isso √© fake!!!! al√©m de j√° ter s‚Ä¶')
---
(147350606, 'RT @eliaxjr: alguns v√≠deos b√¥nus: Patr√≠cia Pillar desmentindo a fake news de que Ciro batia nela https://t.co/GuPU3LFYMw')
---
INSERT INTO amostratweet (codamostra, codtweet) SELECT 124, t.codtweet FROM amostratweet at INNER JOIN tweet t ON t.codtweet = at.codtweet WHERE at.codamostra = 130 AND lower(t.text) like '%pillar%' AND (lower(t.text) like '%batia%' OR lower(t.text) like '%agress%')

INSERT INTO amostratweet (codamostra, codtweet) SELECT 125, t.codtweet FROM amostratweet at INNER JOIN tweet t ON t.codtweet = at.codtweet WHERE at.codamostra = 130 AND lower(t.text) NOT LIKE 'rt %' AND lower(t.text) like '%pillar%' AND (lower(t.text) like '%batia%' OR lower(t.text) like '%agress%')

INSERT INTO amostratweet (codamostra, codtweet) SELECT 165, t.codtweet FROM amostratweet at INNER JOIN tweet t ON t.codtweet = at.codtweet WHERE at.codamostra = 130 AND lower(t.text) NOT LIKE 'rt %' AND lower(t.text) like '%pillar%' AND (lower(t.text) like '%batia%' OR lower(t.text) like '%agress%')


SELECT count(*) FROM amostratweet WHERE codamostra = 124
total amostra 124: 56
SELECT count(*) FROM amostratweet WHERE codamostra = 125
total amostra 125: 42
SELECT count(*) FROM amostratweet WHERE codamostra = 165
total amostra 165: 42

# Not√≠cia 12:

N√£o √© verdade que marido de Marina Silva √© 'um dos maiores desmatadores da Amaz√¥nia'

In [95]:
filtro = (
    "AND lower(t.text) like '%desmatador%' "
    "AND lower(t.text) like '%marina%' "
)
buscaTweets(filtro, 126, 127, 166)

[(126, 'Elei√ß√µes Not√≠cia 12')]
[(127, 'Elei√ß√µes Not√≠cia 12 [no similar]')]
[(166, 'Elei√ß√µes Not√≠cia 12 [no RTs]')]
DELETE FROM amostratweet WHERE codamostra = 126
DELETE FROM amostratweet WHERE codamostra = 127
DELETE FROM amostratweet WHERE codamostra = 166

Total de noticias: 10

Exemplos de tweets:
(174254480, 'QDO MARINA MOGNO AGIU EM FAVOR DO MARIDO DELA, GRANDE GRILEIRO E DESMATADOR, NINGU√âM SE PREOCUPOU?')
---
(174261822, 'RT @RosaACL: QDO MARINA MOGNO AGIU EM FAVOR DO MARIDO DELA, GRANDE GRILEIRO E DESMATADOR, NINGU√âM SE PREOCUPOU? https://t.co/jfdZGwKBQe')
---
(174266471, 'RT @RosaACL: QDO MARINA MOGNO AGIU EM FAVOR DO MARIDO DELA, GRANDE GRILEIRO E DESMATADOR, NINGU√âM SE PREOCUPOU? https://t.co/jfdZGwKBQe')
---
(148023002, 'Marina, casada com um dos maiores desmatadores da Amaz√¥nia ( como Ministra do meio ambiente, consegue as licen√ßas), Bolsonaro propagando um √≥dio com as armas livres, ele tirou o direito de ir e vir a partir disso, n√£o sei o nome l√°, disse que s√≥ n√£o vai roubar, mas tamb√©m n√£o vai')
---
(178824130, '@andreiarosaaro @bollemdb Marina (casada com o maior desmatador da amaz√¥nia e diz proteger o meio ambiente). FHC um pseudo intelectual que era dos mesmos grupos terroristas de dilma, dirceu, lula, palocci no regime? para n√©!\n#bolsonaroPresidente')
---
INSERT INTO amostratweet (codamostra, codtweet) SELECT 126, t.codtweet FROM amostratweet at INNER JOIN tweet t ON t.codtweet = at.codtweet WHERE at.codamostra = 130 AND lower(t.text) like '%desmatador%' AND lower(t.text) like '%marina%'

INSERT INTO amostratweet (codamostra, codtweet) SELECT 127, t.codtweet FROM amostratweet at INNER JOIN tweet t ON t.codtweet = at.codtweet WHERE at.codamostra = 130 AND lower(t.text) NOT LIKE 'rt %' AND lower(t.text) like '%desmatador%' AND lower(t.text) like '%marina%'

INSERT INTO amostratweet (codamostra, codtweet) SELECT 166, t.codtweet FROM amostratweet at INNER JOIN tweet t ON t.codtweet = at.codtweet WHERE at.codamostra = 130 AND lower(t.text) NOT LIKE 'rt %' AND lower(t.text) like '%desmatador%' AND lower(t.text) like '%marina%'


SELECT count(*) FROM amostratweet WHERE codamostra = 126
total amostra 126: 10
SELECT count(*) FROM amostratweet WHERE codamostra = 127
total amostra 127: 8
SELECT count(*) FROM amostratweet WHERE codamostra = 166
total amostra 166: 8

# Not√≠cia 13:

Ciro Gomes n√£o garantiu que vai diminuir sal√°rios de m√©dicos; site distorce informa√ß√µes

In [96]:
filtro = (
    "AND lower(t.text) like '%sal%rio%' "
    "AND lower(t.text) like '%ciro%' "
    "AND ( lower(t.text) like '%m√©dico%' "
    "OR lower(t.text) like '%medico%' )"
)
buscaTweets(filtro, 128, 129, 167)

[(128, 'Elei√ß√µes Not√≠cia 13')]
[(129, 'Elei√ß√µes Not√≠cia 13 [no similar]')]
[(167, 'Elei√ß√µes Not√≠cia 13 [no RTs]')]
DELETE FROM amostratweet WHERE codamostra = 128
DELETE FROM amostratweet WHERE codamostra = 129
DELETE FROM amostratweet WHERE codamostra = 167

Total de noticias: 9

Exemplos de tweets:
(166113410, 'A sala de espera de um consult√≥rio m√©dico √© um grupo de WhatsApp da vida real, a mulher acabou de mandar um ‚Äúas iniciais de Lula, Ciro e Fernando Haddad forma a palavra L√∫cifer.‚Äù')
---
(173959390, '@recordtvoficial Bolsonaro s√£o e salvo, gra√ßas √† Deus e m√©dicos d Santa Casa MG e Einstein SP.\nCiro,qd governador d Cear√°, em reivindica√ß√£o m√©dica por melhores sal√°rios, comparou √† categoria m√©dica ao sal:branco,barato e tem em todo lugar.Ele..vai n sal d hospital S√≠rio Liban√™s SP!!')
---
(150594571, 'incr√≠vel como boato de whatsapp se espalha e o povo tem pregui√ßa de procurar se √© verdade ou n.\nhoje tive que desmentir que a vice do Haddad √© satanista (oi?) pra minha m√£e e que o Ciro vai diminuir o sal√°rio dos m√©dicos (??) pra um m√©dico amigo meu')
---
(148644022, 'Falando no grupo de amigos ontem surgiu o debate pol√≠tico, essa duas amigas fazem medicina e uma disse que voto no boso porque n√£o quer o pt e falou que o hadad/Ciro ia baixar o sal√°rio dos m√©dicos, olha a resposta que minha outra amiga deu. Orgulho de uma amiga sensata assim ‚ù§Ô∏è https://t.co/EDQOiL3LAO')
---
(148642325, 'Falando no grupo de amigos ontem surgiu o debate pol√≠tico, essa duas amigas fazem medicina e uma disse que voto no boso porque n√£o quer o pt e falou que o hadad/Ciro ia baixar o sal√°rio dos m√©dicos, olha a resposta que minha outra amiga disse. Orgulho de uma amiga assim https://t.co/CxPZJTYJIe')
---
INSERT INTO amostratweet (codamostra, codtweet) SELECT 128, t.codtweet FROM amostratweet at INNER JOIN tweet t ON t.codtweet = at.codtweet WHERE at.codamostra = 130 AND lower(t.text) like '%sal%rio%' AND lower(t.text) like '%ciro%' AND ( lower(t.text) like '%m√©dico%' OR lower(t.text) like '%medico%' )

INSERT INTO amostratweet (codamostra, codtweet) SELECT 129, t.codtweet FROM amostratweet at INNER JOIN tweet t ON t.codtweet = at.codtweet WHERE at.codamostra = 130 AND lower(t.text) NOT LIKE 'rt %' AND lower(t.text) like '%sal%rio%' AND lower(t.text) like '%ciro%' AND ( lower(t.text) like '%m√©dico%' OR lower(t.text) like '%medico%' )

INSERT INTO amostratweet (codamostra, codtweet) SELECT 167, t.codtweet FROM amostratweet at INNER JOIN tweet t ON t.codtweet = at.codtweet WHERE at.codamostra = 130 AND lower(t.text) NOT LIKE 'rt %' AND lower(t.text) like '%sal%rio%' AND lower(t.text) like '%ciro%' AND ( lower(t.text) like '%m√©dico%' OR lower(t.text) like '%medico%' )


SELECT count(*) FROM amostratweet WHERE codamostra = 128
total amostra 128: 9
SELECT count(*) FROM amostratweet WHERE codamostra = 129
total amostra 129: 9
SELECT count(*) FROM amostratweet WHERE codamostra = 167
total amostra 167: 9

# Totais:

In [3]:
cmd = ("select am.codamostra, am.descricao, count(amt.*) "
       "from amostratweet amt "
       "inner join amostra am ON amt.codamostra = am.codamostra "
       "where amt.codamostra in (select codamostra from amostra where descricao like 'Elei√ß√µes Not√≠cia%simi%') "
       "group by 1, 2"
       "order by am.descricao"
      )
res = query(cmd)
res

[(105, 'Elei√ß√µes Not√≠cia 01 [no similar]', 256),
 (107, 'Elei√ß√µes Not√≠cia 02 [no similar]', 8),
 (109, 'Elei√ß√µes Not√≠cia 03 [no similar]', 3),
 (111, 'Elei√ß√µes Not√≠cia 04 [no similar]', 181),
 (113, 'Elei√ß√µes Not√≠cia 05 [no similar]', 50),
 (115, 'Elei√ß√µes Not√≠cia 06 [no similar]', 12682),
 (117, 'Elei√ß√µes Not√≠cia 07 [no similar]', 52),
 (119, 'Elei√ß√µes Not√≠cia 08 [no similar]', 1128),
 (121, 'Elei√ß√µes Not√≠cia 09 [no similar]', 223),
 (123, 'Elei√ß√µes Not√≠cia 10 [no similar]', 39),
 (125, 'Elei√ß√µes Not√≠cia 11 [no similar]', 35),
 (127, 'Elei√ß√µes Not√≠cia 12 [no similar]', 7),
 (129, 'Elei√ß√µes Not√≠cia 13 [no similar]', 8),
 (152, 'Elei√ß√µes Not√≠cia 14 [no similar]', 568),
 (154, 'Elei√ß√µes Not√≠cia 15 [no similar]', 15)]

In [57]:
cmd = ("select am.descricao, count(amt.*) "
       "from amostratweet amt "
       "inner join amostra am ON amt.codamostra = am.codamostra "
       "where amt.codamostra in (select codamostra from amostra where descricao like 'Elei√ß√µes Not√≠cia%') "
       "group by 1 "
       "order by am.descricao"
      )
res = query(cmd)
tabs = ""
aux = ""
for r in res:
    if ((aux != r[0][0:19]) and (aux != "")):
        print("---")
    if "similar" in r[0]:
        tabs = "\t"
    elif "no RTs" in r[0]:
        tabs = "\t\t"
    else:
        tabs = "\t\t\t"
    print("%s:%s%s" % (r[0], tabs, r[1]))
    aux = r[0][0:19]

Elei√ß√µes Not√≠cia 01:			5009
Elei√ß√µes Not√≠cia 01 [no RTs]:		678
Elei√ß√µes Not√≠cia 01 [no similar]:	256
---
Elei√ß√µes Not√≠cia 02:			23
Elei√ß√µes Not√≠cia 02 [no RTs]:		21
Elei√ß√µes Not√≠cia 02 [no similar]:	8
---
Elei√ß√µes Not√≠cia 03:			9233
Elei√ß√µes Not√≠cia 03 [no RTs]:		151
Elei√ß√µes Not√≠cia 03 [no similar]:	3
---
Elei√ß√µes Not√≠cia 04:			2452
Elei√ß√µes Not√≠cia 04 [no RTs]:		440
Elei√ß√µes Not√≠cia 04 [no similar]:	181
---
Elei√ß√µes Not√≠cia 05:			311
Elei√ß√µes Not√≠cia 05 [no RTs]:		76
Elei√ß√µes Not√≠cia 05 [no similar]:	50
---
Elei√ß√µes Not√≠cia 06:			296444
Elei√ß√µes Not√≠cia 06 [no RTs]:		48172
Elei√ß√µes Not√≠cia 06 [no similar]:	12682
---
Elei√ß√µes Not√≠cia 07:			1734
Elei√ß√µes Not√≠cia 07 [no RTs]:		403
Elei√ß√µes Not√≠cia 07 [no similar]:	52
---
Elei√ß√µes Not√≠cia 08:			16301
Elei√ß√µes Not√≠cia 08 [no RTs]:		2504
Elei√ß√µes Not√≠cia 08 [no similar]:	1128
---
Elei√ß√µes Not√≠cia 09:			1936
Elei√ß√µes Not√≠cia 09 [no RTs]:		577
Elei√ß√µes Not√≠cia 09 [no similar]:	223
---
Elei√ß√µes Not√≠cia 10:			5495
Elei√ß√µes Not√≠cia 10 [no RTs]:		264
Elei√ß√µes Not√≠cia 10 [no similar]:	39
---
Elei√ß√µes Not√≠cia 11:			56
Elei√ß√µes Not√≠cia 11 [no RTs]:		42
Elei√ß√µes Not√≠cia 11 [no similar]:	35
---
Elei√ß√µes Not√≠cia 12:			10
Elei√ß√µes Not√≠cia 12 [no RTs]:		8
Elei√ß√µes Not√≠cia 12 [no similar]:	7
---
Elei√ß√µes Not√≠cia 13:			9
Elei√ß√µes Not√≠cia 13 [no RTs]:		9
Elei√ß√µes Not√≠cia 13 [no similar]:	8
---
Elei√ß√µes Not√≠cia 14:			26011
Elei√ß√µes Not√≠cia 14 [no RTs]:		3024
Elei√ß√µes Not√≠cia 14 [no similar]:	568
---
Elei√ß√µes Not√≠cia 15:			543
Elei√ß√µes Not√≠cia 15 [no RTs]:		98
Elei√ß√µes Not√≠cia 15 [no similar]:	15

In [37]:
cmd = ("select "
       #"aa.codanaliseamostra as cod, "
       "am.descricao as amostra, "
       #"aa.observacao, "
       "'Total de tweets: ' || (select count(*) from amostratweet at where at.codamostra = aa.codamostra) as qtd , "
       #"usr.nome, "
       #"gc.descricao as classificacao, "
       "'http://kode.ffclrp.usp.br/vacinacao/form.php?modo=analise&hash='|| aa.hash as url  "
       #"aa.hash "
       "from analiseamostra aa "
       "inner join amostra am on am.codamostra = aa.codamostra "
       "inner join usuario usr on usr.codusuario = aa.codusuario "
       "inner join grupoclassificacao gc on gc.codgrupoclassificacao = aa.codgrupoclassificacao "
       "where aa.codusuario = 14 "
       "order by am.descricao"
      )
res = query(cmd)
#res
for r in res:
    print(r[0])
    print(r[1])
    print(r[2])
    print("---")

Elei√ß√µes Not√≠cia 01 [no similar]
Total de tweets: 256
http://kode.ffclrp.usp.br/vacinacao/form.php?modo=analise&hash=fake141601
---
Elei√ß√µes Not√≠cia 02 [no similar]
Total de tweets: 8
http://kode.ffclrp.usp.br/vacinacao/form.php?modo=analise&hash=fake371102
---
Elei√ß√µes Not√≠cia 03 [no similar]
Total de tweets: 3
http://kode.ffclrp.usp.br/vacinacao/form.php?modo=analise&hash=fake171801
---
Elei√ß√µes Not√≠cia 04 [no similar]
Total de tweets: 181
http://kode.ffclrp.usp.br/vacinacao/form.php?modo=analise&hash=fake181702
---
Elei√ß√µes Not√≠cia 05 [no similar]
Total de tweets: 50
http://kode.ffclrp.usp.br/vacinacao/form.php?modo=analise&hash=fake222306
---
Elei√ß√µes Not√≠cia 06 [no similar]
Total de tweets: 12682
http://kode.ffclrp.usp.br/vacinacao/form.php?modo=analise&hash=fake171903
---
Elei√ß√µes Not√≠cia 07 [no similar]
Total de tweets: 52
http://kode.ffclrp.usp.br/vacinacao/form.php?modo=analise&hash=fake156789
---
Elei√ß√µes Not√≠cia 08 [no similar]
Total de tweets: 1128
http://kode.ffclrp.usp.br/vacinacao/form.php?modo=analise&hash=fake136859
---
Elei√ß√µes Not√≠cia 09 [no similar]
Total de tweets: 223
http://kode.ffclrp.usp.br/vacinacao/form.php?modo=analise&hash=fake213678
---
Elei√ß√µes Not√≠cia 10 [no similar]
Total de tweets: 39
http://kode.ffclrp.usp.br/vacinacao/form.php?modo=analise&hash=fake148596
---
Elei√ß√µes Not√≠cia 14 [no similar]
Total de tweets: 568
http://kode.ffclrp.usp.br/vacinacao/form.php?modo=analise&hash=fake741236
---
Elei√ß√µes Not√≠cia 15 [no similar]
Total de tweets: 15
http://kode.ffclrp.usp.br/vacinacao/form.php?modo=analise&hash=fake746895
---