# Notícias e Tweets Eleições: gerando amostras

In [2]:
import ipy_table
import re
%run ../aux/postgres.py

postgres functions loaded...

In [55]:
for x in range(1,16):
    a = str(x).rjust(2, '0')
    desc = 'insert into amostra (descricao) values (\'Eleições Notícia '+ a + ' [no RTs]\');'
    print(desc)
    
#Eleições Notícia 01 [no similar]

insert into amostra (descricao) values ('Eleições Notícia 01 [no RTs]');
insert into amostra (descricao) values ('Eleições Notícia 02 [no RTs]');
insert into amostra (descricao) values ('Eleições Notícia 03 [no RTs]');
insert into amostra (descricao) values ('Eleições Notícia 04 [no RTs]');
insert into amostra (descricao) values ('Eleições Notícia 05 [no RTs]');
insert into amostra (descricao) values ('Eleições Notícia 06 [no RTs]');
insert into amostra (descricao) values ('Eleições Notícia 07 [no RTs]');
insert into amostra (descricao) values ('Eleições Notícia 08 [no RTs]');
insert into amostra (descricao) values ('Eleições Notícia 09 [no RTs]');
insert into amostra (descricao) values ('Eleições Notícia 10 [no RTs]');
insert into amostra (descricao) values ('Eleições Notícia 11 [no RTs]');
insert into amostra (descricao) values ('Eleições Notícia 12 [no RTs]');
insert into amostra (descricao) values ('Eleições Notícia 13 [no RTs]');
insert into amostra (descricao) values ('Eleições Notícia 14 [no RTs]');
insert into amostra (descricao) values ('Eleições Notícia 15 [no RTs]');

In [58]:
cmd = "select codamostra, descricao from amostra where descricao like 'Eleições Notícia%RT%' order by descricao"
res = query(cmd)
res

[(155, 'Eleições Notícia 01 [no RTs]'),
 (156, 'Eleições Notícia 02 [no RTs]'),
 (157, 'Eleições Notícia 03 [no RTs]'),
 (158, 'Eleições Notícia 04 [no RTs]'),
 (159, 'Eleições Notícia 05 [no RTs]'),
 (160, 'Eleições Notícia 06 [no RTs]'),
 (161, 'Eleições Notícia 07 [no RTs]'),
 (162, 'Eleições Notícia 08 [no RTs]'),
 (163, 'Eleições Notícia 09 [no RTs]'),
 (164, 'Eleições Notícia 10 [no RTs]'),
 (165, 'Eleições Notícia 11 [no RTs]'),
 (166, 'Eleições Notícia 12 [no RTs]'),
 (167, 'Eleições Notícia 13 [no RTs]'),
 (168, 'Eleições Notícia 14 [no RTs]'),
 (169, 'Eleições Notícia 15 [no RTs]')]

In [81]:
def buscaTweets(filtro, cod1, cod2, cod3, onlyVerify=False):
    cod1 = str(cod1)
    cod2 = str(cod2)
    cod3 = str(cod3)
    
    cmd = "select codamostra, descricao from amostra where codamostra = " + cod1
    res = query(cmd)
    print(res)

    cmd = "select codamostra, descricao from amostra where codamostra = " + cod2
    res = query(cmd)
    print(res)

    cmd = "select codamostra, descricao from amostra where codamostra = " + cod3
    res = query(cmd)
    print(res)
    
    cmd = "DELETE FROM amostratweet WHERE codamostra = " + cod1
    print(cmd)
    execSQL(cmd)
    
    cmd = "DELETE FROM amostratweet WHERE codamostra = " + cod2
    print(cmd)
    execSQL(cmd)

    cmd = "DELETE FROM amostratweet WHERE codamostra = " + cod3
    print(cmd)
    execSQL(cmd)
    print("")

    cmd = ("SELECT COUNT(*) " +
           "FROM amostratweet at " +
           "INNER JOIN tweet t ON t.codtweet = at.codtweet " +
           "WHERE at.codamostra = 130 " +
           filtro
          )
    count = query(cmd)
    print("Total de noticias: %s\n" % count[0])

    cmd = ("SELECT t.codtweet, t.text " +
           "FROM amostratweet at " +
           "INNER JOIN tweet t ON t.codtweet = at.codtweet " +
           "WHERE at.codamostra = 130 " +
           filtro +
           "LIMIT 5")
    tws = query(cmd)

    print('Exemplos de tweets:')
    for tw in tws:
        print(tw)
        print('---')
    
    if onlyVerify:
        return
    # gerando amostra
   
    
    #execSQL(cmd)
    try:
        cmd = ("INSERT INTO amostratweet (codamostra, codtweet) " +
               "SELECT " + cod1 + ", t.codtweet " +
               "FROM amostratweet at " +
               "INNER JOIN tweet t ON t.codtweet = at.codtweet " +
               "WHERE at.codamostra = 130 " +
               filtro )
        print(cmd+"\n")
        execSQL(cmd)
    except psycopg2.IntegrityError as e:
        print(e)

    try:
        cmd = ("INSERT INTO amostratweet (codamostra, codtweet) " +
               "SELECT " + cod2 + ", t.codtweet " +
               "FROM amostratweet at " +
               "INNER JOIN tweet t ON t.codtweet = at.codtweet " +
               "WHERE at.codamostra = 130 " +
               "AND lower(t.text) NOT LIKE 'rt %' " +
               filtro )
        print(cmd+"\n")
        execSQL(cmd)    
    except psycopg2.IntegrityError as e:
        print(e)

    try:
        cmd = ("INSERT INTO amostratweet (codamostra, codtweet) " +
               "SELECT " + cod3 + ", t.codtweet " +
               "FROM amostratweet at " +
               "INNER JOIN tweet t ON t.codtweet = at.codtweet " +
               "WHERE at.codamostra = 130 " +
               "AND lower(t.text) NOT LIKE 'rt %' " +
               filtro )
        print(cmd+"\n")
        execSQL(cmd)    
    except psycopg2.IntegrityError as e:
        print(e)
        
    print("")
    cmd = "SELECT count(*) FROM amostratweet WHERE codamostra = " + str(cod1)
    print(cmd)
    total = query(cmd)
    print("total amostra %s: %s" % (cod1, total[0][0]))

    cmd = "SELECT count(*) FROM amostratweet WHERE codamostra = " + str(cod2)
    print(cmd)
    total = query(cmd)
    print("total amostra %s: %s" % (cod2, total[0][0]))

    cmd = "SELECT count(*) FROM amostratweet WHERE codamostra = " + str(cod3)
    print(cmd)
    total = query(cmd)
    print("total amostra %s: %s" % (cod3, total[0][0]))

# Notícia 01:

É falsa a inscrição preconceituosa sobre nordestinos em camisa de filho de Bolsonaro

In [82]:
filtro = (
    "AND lower(t.text) like '%camisa%' "
    "AND lower(t.text) like '%nordest%' "
)
buscaTweets(filtro, 104, 105, 155)

[(104, 'Eleições Notícia 01')]
[(105, 'Eleições Notícia 01 [no similar]')]
[(155, 'Eleições Notícia 01 [no RTs]')]
DELETE FROM amostratweet WHERE codamostra = 104
DELETE FROM amostratweet WHERE codamostra = 105
DELETE FROM amostratweet WHERE codamostra = 155

Total de noticias: 5009

Exemplos de tweets:
(179967828, 'RT @MajiwkiJacques: Não vejo camisas do @Haddad_Fernando, adesivos nos carros, pessoas fazendo manifestações, e olha q sou do Nordeste, com…')
---
(179997552, 'RT @MajiwkiJacques: Não vejo camisas do @Haddad_Fernando, adesivos nos carros, pessoas fazendo manifestações, e olha q sou do Nordeste, com…')
---
(180508906, 'RT @MajiwkiJacques: Não vejo camisas do @Haddad_Fernando, adesivos nos carros, pessoas fazendo manifestações, e olha q sou do Nordeste, com…')
---
(152946266, 'RT @camisanumero7: Vocês sabem qual região do Brasil mais se beneficiará com a eleição de @jairbolsonaro ?\n\nSim, O NORDESTE !!!\n\nRegião com…')
---
(152982095, 'RT @camisanumero7: Vocês sabem qual região do Brasil mais se beneficiará com a eleição de @jairbolsonaro ?\n\nSim, O NORDESTE !!!\n\nRegião com…')
---
INSERT INTO amostratweet (codamostra, codtweet) SELECT 104, t.codtweet FROM amostratweet at INNER JOIN tweet t ON t.codtweet = at.codtweet WHERE at.codamostra = 130 AND lower(t.text) like '%camisa%' AND lower(t.text) like '%nordest%'

INSERT INTO amostratweet (codamostra, codtweet) SELECT 105, t.codtweet FROM amostratweet at INNER JOIN tweet t ON t.codtweet = at.codtweet WHERE at.codamostra = 130 AND lower(t.text) NOT LIKE 'rt %' AND lower(t.text) like '%camisa%' AND lower(t.text) like '%nordest%'

INSERT INTO amostratweet (codamostra, codtweet) SELECT 155, t.codtweet FROM amostratweet at INNER JOIN tweet t ON t.codtweet = at.codtweet WHERE at.codamostra = 130 AND lower(t.text) NOT LIKE 'rt %' AND lower(t.text) like '%camisa%' AND lower(t.text) like '%nordest%'


SELECT count(*) FROM amostratweet WHERE codamostra = 104
total amostra 104: 5009
SELECT count(*) FROM amostratweet WHERE codamostra = 105
total amostra 105: 678
SELECT count(*) FROM amostratweet WHERE codamostra = 155
total amostra 155: 678

# Notícia 02:

\#Verificamos: Bolsonaro não disse que ‘paciente com câncer custa caro para o Estado’ e que vai ‘cortar essa farra’

In [83]:
filtro = (
    "AND lower(t.text) like '%farra%' "
    "AND (lower(t.text) like '%câncer%' OR lower(t.text) like '%cancer%') "
)
buscaTweets(filtro, 106, 107, 156)

[(106, 'Eleições Notícia 02')]
[(107, 'Eleições Notícia 02 [no similar]')]
[(156, 'Eleições Notícia 02 [no RTs]')]
DELETE FROM amostratweet WHERE codamostra = 106
DELETE FROM amostratweet WHERE codamostra = 107
DELETE FROM amostratweet WHERE codamostra = 156

Total de noticias: 23

Exemplos de tweets:
(156085987, '@efarsas Precisamos cortar a "farra do fake news"... isso virou um câncer.')
---
(156577027, '[Agência Lupa] Bolsonaro não disse que ‘paciente com câncer custa caro para o Estado’ e que vai ‘cortar essa farra’ https://t.co/Jsi6FZYcH0')
---
(156767395, 'Câncer e Aids são farras?????Onde vamos parar com esse coiso, cada dia mais louco?. AFF!!!!')
---
(156782374, 'RT @Amarulacarvalho: Câncer e Aids são farras?????Onde vamos parar com esse coiso, cada dia mais louco?. AFF!!!! https://t.co/fxOYKrlUJV')
---
(157037037, '01 - Bolsonaro não disse que ‘paciente com câncer custa caro para o Estado’ e que vai ‘cortar essa farra’\nhttps://t.co/6P5X3Hhgx6')
---
INSERT INTO amostratweet (codamostra, codtweet) SELECT 106, t.codtweet FROM amostratweet at INNER JOIN tweet t ON t.codtweet = at.codtweet WHERE at.codamostra = 130 AND lower(t.text) like '%farra%' AND (lower(t.text) like '%câncer%' OR lower(t.text) like '%cancer%')

INSERT INTO amostratweet (codamostra, codtweet) SELECT 107, t.codtweet FROM amostratweet at INNER JOIN tweet t ON t.codtweet = at.codtweet WHERE at.codamostra = 130 AND lower(t.text) NOT LIKE 'rt %' AND lower(t.text) like '%farra%' AND (lower(t.text) like '%câncer%' OR lower(t.text) like '%cancer%')

INSERT INTO amostratweet (codamostra, codtweet) SELECT 156, t.codtweet FROM amostratweet at INNER JOIN tweet t ON t.codtweet = at.codtweet WHERE at.codamostra = 130 AND lower(t.text) NOT LIKE 'rt %' AND lower(t.text) like '%farra%' AND (lower(t.text) like '%câncer%' OR lower(t.text) like '%cancer%')


SELECT count(*) FROM amostratweet WHERE codamostra = 106
total amostra 106: 23
SELECT count(*) FROM amostratweet WHERE codamostra = 107
total amostra 107: 21
SELECT count(*) FROM amostratweet WHERE codamostra = 156
total amostra 156: 21

# Notícia 14: (substituir notícia 02)

\#Verificamos: General Mourão não foi torturador na ditadura militar

In [84]:
filtro = (
    "AND lower(t.text) like '%torturador%' "
    "AND lower(t.text) like '%mourão%' "
)
buscaTweets(filtro, 151, 152, 168)

[(151, 'Eleições Notícia 14')]
[(152, 'Eleições Notícia 14 [no similar]')]
[(168, 'Eleições Notícia 14 [no RTs]')]
DELETE FROM amostratweet WHERE codamostra = 151
DELETE FROM amostratweet WHERE codamostra = 152
DELETE FROM amostratweet WHERE codamostra = 168

Total de noticias: 26011

Exemplos de tweets:
(180025730, 'RT @MelroseGuedes: @Haddad_Fernando falou o Pai da Fake News\nSuástica, Mestre Môa, Caixa 2 Watts Zap, Mourão Torturador etc....\n\n PROMESSAS…')
---
(144766187, 'RT @cirogomes: Bolsonaro defende o torturador Brilhante Ustra. Seu vice, Mourão, também defende torturadores. Agora, seu filho, faz apologi…')
---
(144768317, 'RT @cirogomes: Bolsonaro defende o torturador Brilhante Ustra. Seu vice, Mourão, também defende torturadores. Agora, seu filho, faz apologi…')
---
(144782311, 'RT @cirogomes: Bolsonaro defende o torturador Brilhante Ustra. Seu vice, Mourão, também defende torturadores. Agora, seu filho, faz apologi…')
---
(180344606, 'RT @GustavoRezende: O candidato do PT é moleque. \n\nEncheu a boca pra acusar e chamar de FATO a história do Mourão ser torturador. 10 segund…')
---
INSERT INTO amostratweet (codamostra, codtweet) SELECT 151, t.codtweet FROM amostratweet at INNER JOIN tweet t ON t.codtweet = at.codtweet WHERE at.codamostra = 130 AND lower(t.text) like '%torturador%' AND lower(t.text) like '%mourão%'

INSERT INTO amostratweet (codamostra, codtweet) SELECT 152, t.codtweet FROM amostratweet at INNER JOIN tweet t ON t.codtweet = at.codtweet WHERE at.codamostra = 130 AND lower(t.text) NOT LIKE 'rt %' AND lower(t.text) like '%torturador%' AND lower(t.text) like '%mourão%'

INSERT INTO amostratweet (codamostra, codtweet) SELECT 168, t.codtweet FROM amostratweet at INNER JOIN tweet t ON t.codtweet = at.codtweet WHERE at.codamostra = 130 AND lower(t.text) NOT LIKE 'rt %' AND lower(t.text) like '%torturador%' AND lower(t.text) like '%mourão%'


SELECT count(*) FROM amostratweet WHERE codamostra = 151
total amostra 151: 26011
SELECT count(*) FROM amostratweet WHERE codamostra = 152
total amostra 152: 3024
SELECT count(*) FROM amostratweet WHERE codamostra = 168
total amostra 168: 3024

# Notícia 15: (substituir notícia 02)

Operação Greenfield não investiga dinheiro da campanha de Bolsonaro... - Veja mais em https://noticias.uol.com.br/comprova/ultimas-noticias/2018/10/18/operacao-greenfield-nao-investiga-dinheiro-da-campanha-de-bolsonaro.htm?cmpid=copiaecola

In [85]:
filtro = (
    "AND lower(t.text) like '%greenfield%' "
)
buscaTweets(filtro, 153, 154, 169)

[(153, 'Eleições Notícia 15')]
[(154, 'Eleições Notícia 15 [no similar]')]
[(169, 'Eleições Notícia 15 [no RTs]')]
DELETE FROM amostratweet WHERE codamostra = 153
DELETE FROM amostratweet WHERE codamostra = 154
DELETE FROM amostratweet WHERE codamostra = 169

Total de noticias: 543

Exemplos de tweets:
(180599752, 'RT @JotaInfo: Operação Greenfield abre investigação contra Paulo Guedes. Apuração sobre guru econômico de Bolsonaro envolve gestão temerári…')
---
(180599756, 'RT @JotaInfo: Operação Greenfield abre investigação contra Paulo Guedes. Apuração sobre guru econômico de Bolsonaro envolve gestão temerári…')
---
(180599818, 'RT @JotaInfo: Operação Greenfield abre investigação contra Paulo Guedes. Apuração sobre guru econômico de Bolsonaro envolve gestão temerári…')
---
(180693379, 'RT @JotaInfo: Operação Greenfield abre investigação contra Paulo Guedes. Apuração sobre guru econômico de Bolsonaro envolve gestão temerári…')
---
(180967743, 'RT @JotaInfo: Operação Greenfield abre investigação contra Paulo Guedes. Apuração sobre guru econômico de Bolsonaro envolve gestão temerári…')
---
INSERT INTO amostratweet (codamostra, codtweet) SELECT 153, t.codtweet FROM amostratweet at INNER JOIN tweet t ON t.codtweet = at.codtweet WHERE at.codamostra = 130 AND lower(t.text) like '%greenfield%'

INSERT INTO amostratweet (codamostra, codtweet) SELECT 154, t.codtweet FROM amostratweet at INNER JOIN tweet t ON t.codtweet = at.codtweet WHERE at.codamostra = 130 AND lower(t.text) NOT LIKE 'rt %' AND lower(t.text) like '%greenfield%'

INSERT INTO amostratweet (codamostra, codtweet) SELECT 169, t.codtweet FROM amostratweet at INNER JOIN tweet t ON t.codtweet = at.codtweet WHERE at.codamostra = 130 AND lower(t.text) NOT LIKE 'rt %' AND lower(t.text) like '%greenfield%'


SELECT count(*) FROM amostratweet WHERE codamostra = 153
total amostra 153: 543
SELECT count(*) FROM amostratweet WHERE codamostra = 154
total amostra 154: 98
SELECT count(*) FROM amostratweet WHERE codamostra = 169
total amostra 169: 98

# Notícia 03:

Post com propostas atribuídas a Bolsonaro mistura informações falsas e verdadeiras

In [86]:
filtro = (
    "AND lower(t.text) like '%propostas%' "
    "AND lower(t.text) like '%bolsonaro%' "
    "AND lower(t.text) like '%fim%' "
    "AND lower(t.text) like '%maternidade%' "
)
buscaTweets(filtro, 108, 109, 157)

[(108, 'Eleições Notícia 03')]
[(109, 'Eleições Notícia 03 [no similar]')]
[(157, 'Eleições Notícia 03 [no RTs]')]
DELETE FROM amostratweet WHERE codamostra = 108
DELETE FROM amostratweet WHERE codamostra = 109
DELETE FROM amostratweet WHERE codamostra = 157

Total de noticias: 9233

Exemplos de tweets:
(148756561, 'RT @cinefilo_K: PROPOSTAS DE BOLSONARO\n- Fim do 13º e férias\n- Redução da licença maternidade\n- IR igual pra ricos e POBRES\n- Volta da CPMF…')
---
(148770326, 'RT @cinefilo_K: PROPOSTAS DE BOLSONARO\n- Fim do 13º e férias\n- Redução da licença maternidade\n- IR igual pra ricos e POBRES\n- Volta da CPMF…')
---
(148770702, 'RT @cinefilo_K: PROPOSTAS DE BOLSONARO\n- Fim do 13º e férias\n- Redução da licença maternidade\n- IR igual pra ricos e POBRES\n- Volta da CPMF…')
---
(148774590, 'RT @cinefilo_K: PROPOSTAS DE BOLSONARO\n- Fim do 13º e férias\n- Redução da licença maternidade\n- IR igual pra ricos e POBRES\n- Volta da CPMF…')
---
(148782233, 'RT @cinefilo_K: PROPOSTAS DE BOLSONARO\n- Fim do 13º e férias\n- Redução da licença maternidade\n- IR igual pra ricos e POBRES\n- Volta da CPMF…')
---
INSERT INTO amostratweet (codamostra, codtweet) SELECT 108, t.codtweet FROM amostratweet at INNER JOIN tweet t ON t.codtweet = at.codtweet WHERE at.codamostra = 130 AND lower(t.text) like '%propostas%' AND lower(t.text) like '%bolsonaro%' AND lower(t.text) like '%fim%' AND lower(t.text) like '%maternidade%'

INSERT INTO amostratweet (codamostra, codtweet) SELECT 109, t.codtweet FROM amostratweet at INNER JOIN tweet t ON t.codtweet = at.codtweet WHERE at.codamostra = 130 AND lower(t.text) NOT LIKE 'rt %' AND lower(t.text) like '%propostas%' AND lower(t.text) like '%bolsonaro%' AND lower(t.text) like '%fim%' AND lower(t.text) like '%maternidade%'

INSERT INTO amostratweet (codamostra, codtweet) SELECT 157, t.codtweet FROM amostratweet at INNER JOIN tweet t ON t.codtweet = at.codtweet WHERE at.codamostra = 130 AND lower(t.text) NOT LIKE 'rt %' AND lower(t.text) like '%propostas%' AND lower(t.text) like '%bolsonaro%' AND lower(t.text) like '%fim%' AND lower(t.text) like '%maternidade%'


SELECT count(*) FROM amostratweet WHERE codamostra = 108
total amostra 108: 9233
SELECT count(*) FROM amostratweet WHERE codamostra = 109
total amostra 109: 151
SELECT count(*) FROM amostratweet WHERE codamostra = 157
total amostra 157: 151

# Notícia 04:

General Mourão não propôs o confisco da poupança

In [87]:
filtro = (
    "AND lower(t.text) like '%confisco%' "
    "AND lower(t.text) like '%poupan%' "
)
buscaTweets(filtro, 110, 111, 158)

[(110, 'Eleições Notícia 04')]
[(111, 'Eleições Notícia 04 [no similar]')]
[(158, 'Eleições Notícia 04 [no RTs]')]
DELETE FROM amostratweet WHERE codamostra = 110
DELETE FROM amostratweet WHERE codamostra = 111
DELETE FROM amostratweet WHERE codamostra = 158

Total de noticias: 2452

Exemplos de tweets:
(148778945, 'RT @HenriqueFontana: URGENTE! Mourão, vice do Bolsonaro, também propõe confisco da poupança https://t.co/HIg2N07NLT')
---
(149287923, 'RT @folha: Não é verdade que general Mourão, vice de Bolsonaro, propôs o confisco da poupança https://t.co/NJEVZe3Imn')
---
(149288275, 'RT @folha: Não é verdade que general Mourão, vice de Bolsonaro, propôs o confisco da poupança https://t.co/NJEVZe3Imn')
---
(149292736, 'RT @folha: Não é verdade que general Mourão, vice de Bolsonaro, propôs o confisco da poupança https://t.co/NJEVZe3Imn')
---
(149296307, 'RT @folha: Não é verdade que general Mourão, vice de Bolsonaro, propôs o confisco da poupança https://t.co/NJEVZe3Imn')
---
INSERT INTO amostratweet (codamostra, codtweet) SELECT 110, t.codtweet FROM amostratweet at INNER JOIN tweet t ON t.codtweet = at.codtweet WHERE at.codamostra = 130 AND lower(t.text) like '%confisco%' AND lower(t.text) like '%poupan%'

INSERT INTO amostratweet (codamostra, codtweet) SELECT 111, t.codtweet FROM amostratweet at INNER JOIN tweet t ON t.codtweet = at.codtweet WHERE at.codamostra = 130 AND lower(t.text) NOT LIKE 'rt %' AND lower(t.text) like '%confisco%' AND lower(t.text) like '%poupan%'

INSERT INTO amostratweet (codamostra, codtweet) SELECT 158, t.codtweet FROM amostratweet at INNER JOIN tweet t ON t.codtweet = at.codtweet WHERE at.codamostra = 130 AND lower(t.text) NOT LIKE 'rt %' AND lower(t.text) like '%confisco%' AND lower(t.text) like '%poupan%'


SELECT count(*) FROM amostratweet WHERE codamostra = 110
total amostra 110: 2452
SELECT count(*) FROM amostratweet WHERE codamostra = 111
total amostra 111: 440
SELECT count(*) FROM amostratweet WHERE codamostra = 158
total amostra 158: 440

## Notícia 05:

Áudio atribuído a Jair Bolsonaro no hospital é falso

In [88]:
filtro = (
    "AND lower(t.text) like '%udio%' "
    "AND lower(t.text) like '%hospital%' "
)
buscaTweets(filtro, 112, 113, 159)

[(112, 'Eleições Notícia 05')]
[(113, 'Eleições Notícia 05 [no similar]')]
[(159, 'Eleições Notícia 05 [no RTs]')]
DELETE FROM amostratweet WHERE codamostra = 112
DELETE FROM amostratweet WHERE codamostra = 113
DELETE FROM amostratweet WHERE codamostra = 159

Total de noticias: 311

Exemplos de tweets:
(160031442, 'RT @Profdrclaudio: O Povo baiano é simpático, hospitaleiro, alegre e têm musicalidade sem igual.São honestos e trabalhadores. Este lixo cha…')
---
(160112141, 'RT @Profdrclaudio: O Povo baiano é simpático, hospitaleiro, alegre e têm musicalidade sem igual.São honestos e trabalhadores. Este lixo cha…')
---
(160169165, 'RT @Profdrclaudio: O Povo baiano é simpático, hospitaleiro, alegre e têm musicalidade sem igual.São honestos e trabalhadores. Este lixo cha…')
---
(160213499, 'RT @Profdrclaudio: O Povo baiano é simpático, hospitaleiro, alegre e têm musicalidade sem igual.São honestos e trabalhadores. Este lixo cha…')
---
(160258194, 'RT @Profdrclaudio: O Povo baiano é simpático, hospitaleiro, alegre e têm musicalidade sem igual.São honestos e trabalhadores. Este lixo cha…')
---
INSERT INTO amostratweet (codamostra, codtweet) SELECT 112, t.codtweet FROM amostratweet at INNER JOIN tweet t ON t.codtweet = at.codtweet WHERE at.codamostra = 130 AND lower(t.text) like '%udio%' AND lower(t.text) like '%hospital%'

INSERT INTO amostratweet (codamostra, codtweet) SELECT 113, t.codtweet FROM amostratweet at INNER JOIN tweet t ON t.codtweet = at.codtweet WHERE at.codamostra = 130 AND lower(t.text) NOT LIKE 'rt %' AND lower(t.text) like '%udio%' AND lower(t.text) like '%hospital%'

INSERT INTO amostratweet (codamostra, codtweet) SELECT 159, t.codtweet FROM amostratweet at INNER JOIN tweet t ON t.codtweet = at.codtweet WHERE at.codamostra = 130 AND lower(t.text) NOT LIKE 'rt %' AND lower(t.text) like '%udio%' AND lower(t.text) like '%hospital%'


SELECT count(*) FROM amostratweet WHERE codamostra = 112
total amostra 112: 311
SELECT count(*) FROM amostratweet WHERE codamostra = 113
total amostra 113: 76
SELECT count(*) FROM amostratweet WHERE codamostra = 159
total amostra 159: 76

# Notícia 06:

#Verificamos: Imagem apresentada como ‘capa do kit gay’ não está no material

In [89]:
filtro = (
    "AND lower(t.text) like '%kit%' "
    "AND lower(t.text) like '%gay%' "
)
buscaTweets(filtro, 114, 115, 160)

[(114, 'Eleições Notícia 06')]
[(115, 'Eleições Notícia 06 [no similar]')]
[(160, 'Eleições Notícia 06 [no RTs]')]
DELETE FROM amostratweet WHERE codamostra = 114
DELETE FROM amostratweet WHERE codamostra = 115
DELETE FROM amostratweet WHERE codamostra = 160

Total de noticias: 296444

Exemplos de tweets:
(204842543, 'o cara ta nessa de kit gay ainda mano lkkkkkkk')
---
(204842791, 'RT @marivedder: 1ª entrevista de Jair ao JN:\n- atacou a Folha de SP\n- repetiu fake news do kit gay, mesmo assumindo que Dilma "recolheu" (n…')
---
(204842990, 'RT @izzomrm: o bolsonaro ja foi eleito e mesmo assim ta falando de kit gay em plena tv aberta \n\no cara é uma maquina de bosta\n\nNÃO EXISTE K…')
---
(204843346, 'RT @artt1975: nao pq o kit gay 🏳\u200d🌈 foi distribuído nas escolas 📚 nao e fake news eh vdd o bolsonaro q disse 😡 o kit gay mostrava dois homen…')
---
(204843370, 'RT @thiagocipriano: Bolsonaro, no #JN, se diz contra as fake news, mas reiterou uma das principais delas, a do kit gay. Se diz favorável à…')
---
INSERT INTO amostratweet (codamostra, codtweet) SELECT 114, t.codtweet FROM amostratweet at INNER JOIN tweet t ON t.codtweet = at.codtweet WHERE at.codamostra = 130 AND lower(t.text) like '%kit%' AND lower(t.text) like '%gay%'

INSERT INTO amostratweet (codamostra, codtweet) SELECT 115, t.codtweet FROM amostratweet at INNER JOIN tweet t ON t.codtweet = at.codtweet WHERE at.codamostra = 130 AND lower(t.text) NOT LIKE 'rt %' AND lower(t.text) like '%kit%' AND lower(t.text) like '%gay%'

INSERT INTO amostratweet (codamostra, codtweet) SELECT 160, t.codtweet FROM amostratweet at INNER JOIN tweet t ON t.codtweet = at.codtweet WHERE at.codamostra = 130 AND lower(t.text) NOT LIKE 'rt %' AND lower(t.text) like '%kit%' AND lower(t.text) like '%gay%'


SELECT count(*) FROM amostratweet WHERE codamostra = 114
total amostra 114: 296444
SELECT count(*) FROM amostratweet WHERE codamostra = 115
total amostra 115: 48172
SELECT count(*) FROM amostratweet WHERE codamostra = 160
total amostra 160: 48172

# Notícia 07:

Projeto não torna a pedofilia um ato legal e nem tem participação de Haddad

In [90]:
filtro = (
    "AND lower(t.text) like '%pedofilia%' "
    "AND ( lower(t.text) like '%projeto%' OR lower(t.text) like '%236%' )"
)
buscaTweets(filtro, 116, 117, 161)

[(116, 'Eleições Notícia 07')]
[(117, 'Eleições Notícia 07 [no similar]')]
[(161, 'Eleições Notícia 07 [no RTs]')]
DELETE FROM amostratweet WHERE codamostra = 116
DELETE FROM amostratweet WHERE codamostra = 117
DELETE FROM amostratweet WHERE codamostra = 161

Total de noticias: 1734

Exemplos de tweets:
(164998821, 'RT @estadaoverifica: Projeto não torna a pedofilia um ato legal e nem tem participação de Haddad #Comprova https://t.co/u6TwZX8TYt')
---
(165038251, 'RT @UOL: Fotografia circula em redes sociais | Projeto não torna pedofilia um ato legal nem tem a participação de Haddad https://t.co/wwd70…')
---
(165121794, 'RT @GauchaZH: O projeto de lei em questão nada tem a ver com legalização da pedofilia e tramita no Congresso Nacional sob relatoria de um s…')
---
(165264562, 'RT @guilouress: Eu entro no facebook e tá la as fake news sobre existir projeto de lei do Pt a favor da pedofilia. Mano, se esses Cristãos…')
---
(164807809, 'RT @UOLNoticias: Projeto não torna a pedofilia um ato legal nem tem participação de Haddad #comprova  https://t.co/bddz58GQ54')
---
INSERT INTO amostratweet (codamostra, codtweet) SELECT 116, t.codtweet FROM amostratweet at INNER JOIN tweet t ON t.codtweet = at.codtweet WHERE at.codamostra = 130 AND lower(t.text) like '%pedofilia%' AND ( lower(t.text) like '%projeto%' OR lower(t.text) like '%236%' )

INSERT INTO amostratweet (codamostra, codtweet) SELECT 117, t.codtweet FROM amostratweet at INNER JOIN tweet t ON t.codtweet = at.codtweet WHERE at.codamostra = 130 AND lower(t.text) NOT LIKE 'rt %' AND lower(t.text) like '%pedofilia%' AND ( lower(t.text) like '%projeto%' OR lower(t.text) like '%236%' )

INSERT INTO amostratweet (codamostra, codtweet) SELECT 161, t.codtweet FROM amostratweet at INNER JOIN tweet t ON t.codtweet = at.codtweet WHERE at.codamostra = 130 AND lower(t.text) NOT LIKE 'rt %' AND lower(t.text) like '%pedofilia%' AND ( lower(t.text) like '%projeto%' OR lower(t.text) like '%236%' )


SELECT count(*) FROM amostratweet WHERE codamostra = 116
total amostra 116: 1734
SELECT count(*) FROM amostratweet WHERE codamostra = 117
total amostra 117: 403
SELECT count(*) FROM amostratweet WHERE codamostra = 161
total amostra 161: 403

# Notícia 08:

"Mamadeiras eróticas" não foram distribuídas em creches pelo PT

In [91]:
filtro = (
    "AND lower(t.text) like '%mamadeira%' "
)
buscaTweets(filtro, 118, 119, 162)

[(118, 'Eleições Notícia 08')]
[(119, 'Eleições Notícia 08 [no similar]')]
[(162, 'Eleições Notícia 08 [no RTs]')]
DELETE FROM amostratweet WHERE codamostra = 118
DELETE FROM amostratweet WHERE codamostra = 119
DELETE FROM amostratweet WHERE codamostra = 162

Total de noticias: 16301

Exemplos de tweets:
(164966420, 'RT @heisenboff: no passado: "em 2018 teremos carros voadores"\n\nem 2018: tendo que desmentir fake news que diz que distribuíram mamadeira co…')
---
(179867834, 'RT @AbalFelipe: Os caras acreditam em mamadeira com bico de pênis, que o PT pagou 90 milhões pro Roger Waters e que o Irã tem planos pra in…')
---
(164998753, 'RT @heisenboff: no passado: "em 2018 teremos carros voadores"\n\nem 2018: tendo que desmentir fake news que diz que distribuíram mamadeira co…')
---
(180101251, 'essa mamadeira de piroca com certeza é a melhor fake news de TODAS')
---
(165134427, 'RT @Itspedrito: Dificil entender um bolsominion:\n\n- Haddad tava distribuindo mamadeira com formato de piroca para crianças!\n-  SÓ PODIA SER…')
---
INSERT INTO amostratweet (codamostra, codtweet) SELECT 118, t.codtweet FROM amostratweet at INNER JOIN tweet t ON t.codtweet = at.codtweet WHERE at.codamostra = 130 AND lower(t.text) like '%mamadeira%'

INSERT INTO amostratweet (codamostra, codtweet) SELECT 119, t.codtweet FROM amostratweet at INNER JOIN tweet t ON t.codtweet = at.codtweet WHERE at.codamostra = 130 AND lower(t.text) NOT LIKE 'rt %' AND lower(t.text) like '%mamadeira%'

INSERT INTO amostratweet (codamostra, codtweet) SELECT 162, t.codtweet FROM amostratweet at INNER JOIN tweet t ON t.codtweet = at.codtweet WHERE at.codamostra = 130 AND lower(t.text) NOT LIKE 'rt %' AND lower(t.text) like '%mamadeira%'


SELECT count(*) FROM amostratweet WHERE codamostra = 118
total amostra 118: 16301
SELECT count(*) FROM amostratweet WHERE codamostra = 119
total amostra 119: 2504
SELECT count(*) FROM amostratweet WHERE codamostra = 162
total amostra 162: 2504

# Notícia 09:

Vídeo em que Haddad diz que eleição acabou é de 2016

In [92]:
filtro = (
    "AND lower(t.text) like '%jogou%' "
    "AND lower(t.text) like '%toalha%' "
)
buscaTweets(filtro, 120, 121, 163)

[(120, 'Eleições Notícia 09')]
[(121, 'Eleições Notícia 09 [no similar]')]
[(163, 'Eleições Notícia 09 [no RTs]')]
DELETE FROM amostratweet WHERE codamostra = 120
DELETE FROM amostratweet WHERE codamostra = 121
DELETE FROM amostratweet WHERE codamostra = 163

Total de noticias: 1936

Exemplos de tweets:
(144752700, 'RT @cidapitanga: Folha reconhece que foi incapaz de olhar seus próprios leitores.\nJOGOU A TOALHA \n\nPRIMEIRO TURNO GENTE!!\n\n"A Folha de S. P…')
---
(165052904, 'RT @Dom_Rezende33: Até Ibope já jogou a toalha\n\nVotos válidos:\nBolsonaro 59% x 41% Haddad https://t.co/64IdlpdDS4')
---
(165058240, 'RT @Dom_Rezende33: Até Ibope já jogou a toalha\n\nVotos válidos:\nBolsonaro 59% x 41% Haddad https://t.co/64IdlpdDS4')
---
(165070417, 'RT @Dom_Rezende33: Até Ibope já jogou a toalha\n\nVotos válidos:\nBolsonaro 59% x 41% Haddad https://t.co/64IdlpdDS4')
---
(165084773, 'RT @Dom_Rezende33: Até Ibope já jogou a toalha\n\nVotos válidos:\nBolsonaro 59% x 41% Haddad https://t.co/64IdlpdDS4')
---
INSERT INTO amostratweet (codamostra, codtweet) SELECT 120, t.codtweet FROM amostratweet at INNER JOIN tweet t ON t.codtweet = at.codtweet WHERE at.codamostra = 130 AND lower(t.text) like '%jogou%' AND lower(t.text) like '%toalha%'

INSERT INTO amostratweet (codamostra, codtweet) SELECT 121, t.codtweet FROM amostratweet at INNER JOIN tweet t ON t.codtweet = at.codtweet WHERE at.codamostra = 130 AND lower(t.text) NOT LIKE 'rt %' AND lower(t.text) like '%jogou%' AND lower(t.text) like '%toalha%'

INSERT INTO amostratweet (codamostra, codtweet) SELECT 163, t.codtweet FROM amostratweet at INNER JOIN tweet t ON t.codtweet = at.codtweet WHERE at.codamostra = 130 AND lower(t.text) NOT LIKE 'rt %' AND lower(t.text) like '%jogou%' AND lower(t.text) like '%toalha%'


SELECT count(*) FROM amostratweet WHERE codamostra = 120
total amostra 120: 1936
SELECT count(*) FROM amostratweet WHERE codamostra = 121
total amostra 121: 577
SELECT count(*) FROM amostratweet WHERE codamostra = 163
total amostra 163: 577

# Notícia 10:

"Ao completar 5 anos de idade, a criança passa a ser propriedade do Estado! Cabe a nós decidir se
menino será menina e vice-versa! Aos pais cabe acatar nossa decisão respeitosamente! Sabemos
o que é melhor para as crianças!"

In [93]:
filtro = (
    "AND lower(t.text) like '%crian%' "
    "AND lower(t.text) like '%propriedade%' "
    "AND lower(t.text) like '%estado%' "
)
buscaTweets(filtro, 122, 123, 164)

[(122, 'Eleições Notícia 10')]
[(123, 'Eleições Notícia 10 [no similar]')]
[(164, 'Eleições Notícia 10 [no RTs]')]
DELETE FROM amostratweet WHERE codamostra = 122
DELETE FROM amostratweet WHERE codamostra = 123
DELETE FROM amostratweet WHERE codamostra = 164

Total de noticias: 5495

Exemplos de tweets:
(148988278, 'RT @AngelJones_1330: 1. Fake News! \n\n- É #FAKE que Haddad disse que criança vira propriedade do Estado aos 5 anos e pode ter seu gênero esc…')
---
(182366736, 'RT @portadosfundos: "Não recebeu por WhatsApp? Toda criança a partir de 5 anos agora é propriedade do Estado."\n\nVÍDEO NOVO | Fake News: htt…')
---
(182370488, 'RT @portadosfundos: "Não recebeu por WhatsApp? Toda criança a partir de 5 anos agora é propriedade do Estado."\n\nVÍDEO NOVO | Fake News: htt…')
---
(182371421, 'RT @portadosfundos: "Não recebeu por WhatsApp? Toda criança a partir de 5 anos agora é propriedade do Estado."\n\nVÍDEO NOVO | Fake News: htt…')
---
(182372134, 'RT @portadosfundos: "Não recebeu por WhatsApp? Toda criança a partir de 5 anos agora é propriedade do Estado."\n\nVÍDEO NOVO | Fake News: htt…')
---
INSERT INTO amostratweet (codamostra, codtweet) SELECT 122, t.codtweet FROM amostratweet at INNER JOIN tweet t ON t.codtweet = at.codtweet WHERE at.codamostra = 130 AND lower(t.text) like '%crian%' AND lower(t.text) like '%propriedade%' AND lower(t.text) like '%estado%'

INSERT INTO amostratweet (codamostra, codtweet) SELECT 123, t.codtweet FROM amostratweet at INNER JOIN tweet t ON t.codtweet = at.codtweet WHERE at.codamostra = 130 AND lower(t.text) NOT LIKE 'rt %' AND lower(t.text) like '%crian%' AND lower(t.text) like '%propriedade%' AND lower(t.text) like '%estado%'

INSERT INTO amostratweet (codamostra, codtweet) SELECT 164, t.codtweet FROM amostratweet at INNER JOIN tweet t ON t.codtweet = at.codtweet WHERE at.codamostra = 130 AND lower(t.text) NOT LIKE 'rt %' AND lower(t.text) like '%crian%' AND lower(t.text) like '%propriedade%' AND lower(t.text) like '%estado%'


SELECT count(*) FROM amostratweet WHERE codamostra = 122
total amostra 122: 5495
SELECT count(*) FROM amostratweet WHERE codamostra = 123
total amostra 123: 264
SELECT count(*) FROM amostratweet WHERE codamostra = 164
total amostra 164: 264

# Notícia 11:

Patrícia Pillar desmente meme e diz que nunca sofreu agressão

In [94]:
filtro = (
    "AND lower(t.text) like '%pillar%' "
    "AND (lower(t.text) like '%batia%' "
    "OR lower(t.text) like '%agress%') "
)
buscaTweets(filtro, 124, 125,165)

[(124, 'Eleições Notícia 11')]
[(125, 'Eleições Notícia 11 [no similar]')]
[(165, 'Eleições Notícia 11 [no RTs]')]
DELETE FROM amostratweet WHERE codamostra = 124
DELETE FROM amostratweet WHERE codamostra = 125
DELETE FROM amostratweet WHERE codamostra = 165

Total de noticias: 56

Exemplos de tweets:
(172235821, 'RT @karinamarigold: @Haddad_Fernando Não apenas contra vc Haddad, aquela história que o @cirogomes batia na Patrícia Pillar tbm foi fruto d…')
---
(144279844, 'RT @eliaxjr: alguns vídeos bônus: Patrícia Pillar desmentindo a fake news de que Ciro batia nela https://t.co/GuPU3LFYMw')
---
(145147789, 'RT @Barbara_Scorza: segunda vez que leio hoje essa história de que o ciro batia na patricia pillar. gente, isso é fake!!!! além de já ter s…')
---
(145171984, 'RT @Barbara_Scorza: segunda vez que leio hoje essa história de que o ciro batia na patricia pillar. gente, isso é fake!!!! além de já ter s…')
---
(147350606, 'RT @eliaxjr: alguns vídeos bônus: Patrícia Pillar desmentindo a fake news de que Ciro batia nela https://t.co/GuPU3LFYMw')
---
INSERT INTO amostratweet (codamostra, codtweet) SELECT 124, t.codtweet FROM amostratweet at INNER JOIN tweet t ON t.codtweet = at.codtweet WHERE at.codamostra = 130 AND lower(t.text) like '%pillar%' AND (lower(t.text) like '%batia%' OR lower(t.text) like '%agress%')

INSERT INTO amostratweet (codamostra, codtweet) SELECT 125, t.codtweet FROM amostratweet at INNER JOIN tweet t ON t.codtweet = at.codtweet WHERE at.codamostra = 130 AND lower(t.text) NOT LIKE 'rt %' AND lower(t.text) like '%pillar%' AND (lower(t.text) like '%batia%' OR lower(t.text) like '%agress%')

INSERT INTO amostratweet (codamostra, codtweet) SELECT 165, t.codtweet FROM amostratweet at INNER JOIN tweet t ON t.codtweet = at.codtweet WHERE at.codamostra = 130 AND lower(t.text) NOT LIKE 'rt %' AND lower(t.text) like '%pillar%' AND (lower(t.text) like '%batia%' OR lower(t.text) like '%agress%')


SELECT count(*) FROM amostratweet WHERE codamostra = 124
total amostra 124: 56
SELECT count(*) FROM amostratweet WHERE codamostra = 125
total amostra 125: 42
SELECT count(*) FROM amostratweet WHERE codamostra = 165
total amostra 165: 42

# Notícia 12:

Não é verdade que marido de Marina Silva é 'um dos maiores desmatadores da Amazônia'

In [95]:
filtro = (
    "AND lower(t.text) like '%desmatador%' "
    "AND lower(t.text) like '%marina%' "
)
buscaTweets(filtro, 126, 127, 166)

[(126, 'Eleições Notícia 12')]
[(127, 'Eleições Notícia 12 [no similar]')]
[(166, 'Eleições Notícia 12 [no RTs]')]
DELETE FROM amostratweet WHERE codamostra = 126
DELETE FROM amostratweet WHERE codamostra = 127
DELETE FROM amostratweet WHERE codamostra = 166

Total de noticias: 10

Exemplos de tweets:
(174254480, 'QDO MARINA MOGNO AGIU EM FAVOR DO MARIDO DELA, GRANDE GRILEIRO E DESMATADOR, NINGUÉM SE PREOCUPOU?')
---
(174261822, 'RT @RosaACL: QDO MARINA MOGNO AGIU EM FAVOR DO MARIDO DELA, GRANDE GRILEIRO E DESMATADOR, NINGUÉM SE PREOCUPOU? https://t.co/jfdZGwKBQe')
---
(174266471, 'RT @RosaACL: QDO MARINA MOGNO AGIU EM FAVOR DO MARIDO DELA, GRANDE GRILEIRO E DESMATADOR, NINGUÉM SE PREOCUPOU? https://t.co/jfdZGwKBQe')
---
(148023002, 'Marina, casada com um dos maiores desmatadores da Amazônia ( como Ministra do meio ambiente, consegue as licenças), Bolsonaro propagando um ódio com as armas livres, ele tirou o direito de ir e vir a partir disso, não sei o nome lá, disse que só não vai roubar, mas também não vai')
---
(178824130, '@andreiarosaaro @bollemdb Marina (casada com o maior desmatador da amazônia e diz proteger o meio ambiente). FHC um pseudo intelectual que era dos mesmos grupos terroristas de dilma, dirceu, lula, palocci no regime? para né!\n#bolsonaroPresidente')
---
INSERT INTO amostratweet (codamostra, codtweet) SELECT 126, t.codtweet FROM amostratweet at INNER JOIN tweet t ON t.codtweet = at.codtweet WHERE at.codamostra = 130 AND lower(t.text) like '%desmatador%' AND lower(t.text) like '%marina%'

INSERT INTO amostratweet (codamostra, codtweet) SELECT 127, t.codtweet FROM amostratweet at INNER JOIN tweet t ON t.codtweet = at.codtweet WHERE at.codamostra = 130 AND lower(t.text) NOT LIKE 'rt %' AND lower(t.text) like '%desmatador%' AND lower(t.text) like '%marina%'

INSERT INTO amostratweet (codamostra, codtweet) SELECT 166, t.codtweet FROM amostratweet at INNER JOIN tweet t ON t.codtweet = at.codtweet WHERE at.codamostra = 130 AND lower(t.text) NOT LIKE 'rt %' AND lower(t.text) like '%desmatador%' AND lower(t.text) like '%marina%'


SELECT count(*) FROM amostratweet WHERE codamostra = 126
total amostra 126: 10
SELECT count(*) FROM amostratweet WHERE codamostra = 127
total amostra 127: 8
SELECT count(*) FROM amostratweet WHERE codamostra = 166
total amostra 166: 8

# Notícia 13:

Ciro Gomes não garantiu que vai diminuir salários de médicos; site distorce informações

In [96]:
filtro = (
    "AND lower(t.text) like '%sal%rio%' "
    "AND lower(t.text) like '%ciro%' "
    "AND ( lower(t.text) like '%médico%' "
    "OR lower(t.text) like '%medico%' )"
)
buscaTweets(filtro, 128, 129, 167)

[(128, 'Eleições Notícia 13')]
[(129, 'Eleições Notícia 13 [no similar]')]
[(167, 'Eleições Notícia 13 [no RTs]')]
DELETE FROM amostratweet WHERE codamostra = 128
DELETE FROM amostratweet WHERE codamostra = 129
DELETE FROM amostratweet WHERE codamostra = 167

Total de noticias: 9

Exemplos de tweets:
(166113410, 'A sala de espera de um consultório médico é um grupo de WhatsApp da vida real, a mulher acabou de mandar um “as iniciais de Lula, Ciro e Fernando Haddad forma a palavra Lúcifer.”')
---
(173959390, '@recordtvoficial Bolsonaro são e salvo, graças à Deus e médicos d Santa Casa MG e Einstein SP.\nCiro,qd governador d Ceará, em reivindicação médica por melhores salários, comparou à categoria médica ao sal:branco,barato e tem em todo lugar.Ele..vai n sal d hospital Sírio Libanês SP!!')
---
(150594571, 'incrível como boato de whatsapp se espalha e o povo tem preguiça de procurar se é verdade ou n.\nhoje tive que desmentir que a vice do Haddad é satanista (oi?) pra minha mãe e que o Ciro vai diminuir o salário dos médicos (??) pra um médico amigo meu')
---
(148644022, 'Falando no grupo de amigos ontem surgiu o debate político, essa duas amigas fazem medicina e uma disse que voto no boso porque não quer o pt e falou que o hadad/Ciro ia baixar o salário dos médicos, olha a resposta que minha outra amiga deu. Orgulho de uma amiga sensata assim ❤️ https://t.co/EDQOiL3LAO')
---
(148642325, 'Falando no grupo de amigos ontem surgiu o debate político, essa duas amigas fazem medicina e uma disse que voto no boso porque não quer o pt e falou que o hadad/Ciro ia baixar o salário dos médicos, olha a resposta que minha outra amiga disse. Orgulho de uma amiga assim https://t.co/CxPZJTYJIe')
---
INSERT INTO amostratweet (codamostra, codtweet) SELECT 128, t.codtweet FROM amostratweet at INNER JOIN tweet t ON t.codtweet = at.codtweet WHERE at.codamostra = 130 AND lower(t.text) like '%sal%rio%' AND lower(t.text) like '%ciro%' AND ( lower(t.text) like '%médico%' OR lower(t.text) like '%medico%' )

INSERT INTO amostratweet (codamostra, codtweet) SELECT 129, t.codtweet FROM amostratweet at INNER JOIN tweet t ON t.codtweet = at.codtweet WHERE at.codamostra = 130 AND lower(t.text) NOT LIKE 'rt %' AND lower(t.text) like '%sal%rio%' AND lower(t.text) like '%ciro%' AND ( lower(t.text) like '%médico%' OR lower(t.text) like '%medico%' )

INSERT INTO amostratweet (codamostra, codtweet) SELECT 167, t.codtweet FROM amostratweet at INNER JOIN tweet t ON t.codtweet = at.codtweet WHERE at.codamostra = 130 AND lower(t.text) NOT LIKE 'rt %' AND lower(t.text) like '%sal%rio%' AND lower(t.text) like '%ciro%' AND ( lower(t.text) like '%médico%' OR lower(t.text) like '%medico%' )


SELECT count(*) FROM amostratweet WHERE codamostra = 128
total amostra 128: 9
SELECT count(*) FROM amostratweet WHERE codamostra = 129
total amostra 129: 9
SELECT count(*) FROM amostratweet WHERE codamostra = 167
total amostra 167: 9

# Totais:

In [3]:
cmd = ("select am.codamostra, am.descricao, count(amt.*) "
       "from amostratweet amt "
       "inner join amostra am ON amt.codamostra = am.codamostra "
       "where amt.codamostra in (select codamostra from amostra where descricao like 'Eleições Notícia%simi%') "
       "group by 1, 2"
       "order by am.descricao"
      )
res = query(cmd)
res

[(105, 'Eleições Notícia 01 [no similar]', 256),
 (107, 'Eleições Notícia 02 [no similar]', 8),
 (109, 'Eleições Notícia 03 [no similar]', 3),
 (111, 'Eleições Notícia 04 [no similar]', 181),
 (113, 'Eleições Notícia 05 [no similar]', 50),
 (115, 'Eleições Notícia 06 [no similar]', 12682),
 (117, 'Eleições Notícia 07 [no similar]', 52),
 (119, 'Eleições Notícia 08 [no similar]', 1128),
 (121, 'Eleições Notícia 09 [no similar]', 223),
 (123, 'Eleições Notícia 10 [no similar]', 39),
 (125, 'Eleições Notícia 11 [no similar]', 35),
 (127, 'Eleições Notícia 12 [no similar]', 7),
 (129, 'Eleições Notícia 13 [no similar]', 8),
 (152, 'Eleições Notícia 14 [no similar]', 568),
 (154, 'Eleições Notícia 15 [no similar]', 15)]

In [57]:
cmd = ("select am.descricao, count(amt.*) "
       "from amostratweet amt "
       "inner join amostra am ON amt.codamostra = am.codamostra "
       "where amt.codamostra in (select codamostra from amostra where descricao like 'Eleições Notícia%') "
       "group by 1 "
       "order by am.descricao"
      )
res = query(cmd)
tabs = ""
aux = ""
for r in res:
    if ((aux != r[0][0:19]) and (aux != "")):
        print("---")
    if "similar" in r[0]:
        tabs = "\t"
    elif "no RTs" in r[0]:
        tabs = "\t\t"
    else:
        tabs = "\t\t\t"
    print("%s:%s%s" % (r[0], tabs, r[1]))
    aux = r[0][0:19]

Eleições Notícia 01:			5009
Eleições Notícia 01 [no RTs]:		678
Eleições Notícia 01 [no similar]:	256
---
Eleições Notícia 02:			23
Eleições Notícia 02 [no RTs]:		21
Eleições Notícia 02 [no similar]:	8
---
Eleições Notícia 03:			9233
Eleições Notícia 03 [no RTs]:		151
Eleições Notícia 03 [no similar]:	3
---
Eleições Notícia 04:			2452
Eleições Notícia 04 [no RTs]:		440
Eleições Notícia 04 [no similar]:	181
---
Eleições Notícia 05:			311
Eleições Notícia 05 [no RTs]:		76
Eleições Notícia 05 [no similar]:	50
---
Eleições Notícia 06:			296444
Eleições Notícia 06 [no RTs]:		48172
Eleições Notícia 06 [no similar]:	12682
---
Eleições Notícia 07:			1734
Eleições Notícia 07 [no RTs]:		403
Eleições Notícia 07 [no similar]:	52
---
Eleições Notícia 08:			16301
Eleições Notícia 08 [no RTs]:		2504
Eleições Notícia 08 [no similar]:	1128
---
Eleições Notícia 09:			1936
Eleições Notícia 09 [no RTs]:		577
Eleições Notícia 09 [no similar]:	223
---
Eleições Notícia 10:			5495
Eleições Notícia 10 [no RTs]:		264
Eleições Notícia 10 [no similar]:	39
---
Eleições Notícia 11:			56
Eleições Notícia 11 [no RTs]:		42
Eleições Notícia 11 [no similar]:	35
---
Eleições Notícia 12:			10
Eleições Notícia 12 [no RTs]:		8
Eleições Notícia 12 [no similar]:	7
---
Eleições Notícia 13:			9
Eleições Notícia 13 [no RTs]:		9
Eleições Notícia 13 [no similar]:	8
---
Eleições Notícia 14:			26011
Eleições Notícia 14 [no RTs]:		3024
Eleições Notícia 14 [no similar]:	568
---
Eleições Notícia 15:			543
Eleições Notícia 15 [no RTs]:		98
Eleições Notícia 15 [no similar]:	15

In [37]:
cmd = ("select "
       #"aa.codanaliseamostra as cod, "
       "am.descricao as amostra, "
       #"aa.observacao, "
       "'Total de tweets: ' || (select count(*) from amostratweet at where at.codamostra = aa.codamostra) as qtd , "
       #"usr.nome, "
       #"gc.descricao as classificacao, "
       "'http://kode.ffclrp.usp.br/vacinacao/form.php?modo=analise&hash='|| aa.hash as url  "
       #"aa.hash "
       "from analiseamostra aa "
       "inner join amostra am on am.codamostra = aa.codamostra "
       "inner join usuario usr on usr.codusuario = aa.codusuario "
       "inner join grupoclassificacao gc on gc.codgrupoclassificacao = aa.codgrupoclassificacao "
       "where aa.codusuario = 14 "
       "order by am.descricao"
      )
res = query(cmd)
#res
for r in res:
    print(r[0])
    print(r[1])
    print(r[2])
    print("---")

Eleições Notícia 01 [no similar]
Total de tweets: 256
http://kode.ffclrp.usp.br/vacinacao/form.php?modo=analise&hash=fake141601
---
Eleições Notícia 02 [no similar]
Total de tweets: 8
http://kode.ffclrp.usp.br/vacinacao/form.php?modo=analise&hash=fake371102
---
Eleições Notícia 03 [no similar]
Total de tweets: 3
http://kode.ffclrp.usp.br/vacinacao/form.php?modo=analise&hash=fake171801
---
Eleições Notícia 04 [no similar]
Total de tweets: 181
http://kode.ffclrp.usp.br/vacinacao/form.php?modo=analise&hash=fake181702
---
Eleições Notícia 05 [no similar]
Total de tweets: 50
http://kode.ffclrp.usp.br/vacinacao/form.php?modo=analise&hash=fake222306
---
Eleições Notícia 06 [no similar]
Total de tweets: 12682
http://kode.ffclrp.usp.br/vacinacao/form.php?modo=analise&hash=fake171903
---
Eleições Notícia 07 [no similar]
Total de tweets: 52
http://kode.ffclrp.usp.br/vacinacao/form.php?modo=analise&hash=fake156789
---
Eleições Notícia 08 [no similar]
Total de tweets: 1128
http://kode.ffclrp.usp.br/vacinacao/form.php?modo=analise&hash=fake136859
---
Eleições Notícia 09 [no similar]
Total de tweets: 223
http://kode.ffclrp.usp.br/vacinacao/form.php?modo=analise&hash=fake213678
---
Eleições Notícia 10 [no similar]
Total de tweets: 39
http://kode.ffclrp.usp.br/vacinacao/form.php?modo=analise&hash=fake148596
---
Eleições Notícia 14 [no similar]
Total de tweets: 568
http://kode.ffclrp.usp.br/vacinacao/form.php?modo=analise&hash=fake741236
---
Eleições Notícia 15 [no similar]
Total de tweets: 15
http://kode.ffclrp.usp.br/vacinacao/form.php?modo=analise&hash=fake746895
---